@import 'variables';

.book {
	#main {
		position: relative;
		margin: 150px auto 0;
		max-width: 980px;
		z-index: 1;
		background-color: #fff;
		font-family: 'DIN';
  	font-size: 15px;
  	height: 620px;
  	margin-bottom: 55px;
  	color: #53534a;
 		@media only screen and (max-width: $mobile-width) {
 			width: 90%;
	    margin: 0 auto;
	    height: 1065px;
	    margin-bottom: 35px;
		}
		h1 {
			font-family: 'Archer-LightItalic';
    	font-size: 3em;
    	font-weight: 400;
    	margin-bottom: .1em;
    	@media only screen and (max-width: $mobile-width) {
    		font-size: 2em;
    	}
		}
		h3 {
			text-align: center;
		}
		.head {
			padding-top: 1em;
			text-align: center;
			width: 100%;
		}
		#customers {
			width: 100%;
			height: 401px;
			margin-top: 60px;
			text-align: center;
			@media only screen and (max-width: $mobile-width) {
				width: 90%;
				margin: 0 auto;
				margin-top: 50px;
			}
		}
		#returning {
			float: left;
			height: 401px;
			width: 50%;
			@media only screen and (max-width: $mobile-width) {
				float: none;
				width: 100%;
				border: none;
				height: 456px;
			}
		}
		#new {
			float: left;
			height: 401px;
			width: 50%;
			border-left: 1px solid $laundry-green;
			@media only screen and (max-width: $mobile-width) {
				float: none;
				width: 100%;
				border-left: none;
				border-top: 1px solid $laundry-green;
				margin-bottom: 30px;
				padding-top: 30px;
				height: 460px;
			}
		}
		.forms {
			height: 50px;
			width: 55%;
			font-size: 1em;
			margin-bottom: 15px;
			@media only screen and (max-width: 1000px) {
				width: 75%;
				font-size: 1.2em;
			}
			&:focus {
				outline: none;
			}
		}
		input, button {
			padding: 0 10px;
		}
		button {
			background-color: white;
			color: $laundry-green;
			margin-bottom: 35px;
			transition: all 300ms;
			&:hover {
				background-color: $laundry-black;
				color: white;
			}
			@media only screen and (max-width: $mobile-width) {
				margin-bottom: 50px;
			}
		}
		.submit {
			position: relative;
			bottom: -25px;
			margin: 0 auto;
			width: 30%;
			@media only screen and (max-width: $mobile-width) {
				width: 40%;
			}
		}
		#or {
			height: 69px;
			display: inline-block;
			line-height: 51px;
			color: $laundry-green;
		}
	}		
}