@import 'variables';

body.index {
  #main {
    width: 90%;
    margin: 130px auto 0 auto;
    position: relative;
    .slider {
      position: relative;
      padding-top: 62.2%;
      overflow-x: hidden;
      .slide-control {
        position: absolute;
        bottom: 10px;
        right: 20px;
        z-index: 5;
        & > * {
          float: left;
        }
        .circle {
          width: 8px;
          height: 8px;
          margin: 6px;
          border-radius: 5px;
          border: 1px $slide-control-color solid;
          &.current {
            background-color: $slide-control-color;
          }
        }
        .slide-left {
          cursor: pointer;
          text-align: center;
          width: 16px;
          padding-top: 2px;
          color: $slide-control-color;
        }
        .slide-right {
          cursor: pointer;
          text-align: center;
          width: 16px;
          padding-top: 2px;
          color: $slide-control-color;
        }
      }
      .slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        display: none;
        .full-link{
          width: 100%;
          height: 100%;
        }

        .overlay-text {
          position: absolute;
          text-align: left;
          color: $laundry-black;
          h1 {
            font-family: 'Archer-LightItalic';
            font-size: 4.0vw;
            margin-bottom: -6px;
            font-weight: 400;   
          }
          p {
            font-family: 'DIN';
            font-size: 1.3vw;
            margin-bottom: 15px;
          }
          .text-box {
            display: inline-block;
            border: 1px $laundry-black solid;
            color: $laundry-black;
            text-align: center;
            font-family: 'DINAlternate-Bold';
            font-size: 1.3vw;
            padding: 10px 15px 7px 15px;
            text-transform: uppercase;
            letter-spacing: 0.6px;
            text-decoration: none;
            -webkit-transition: all .2s;
            -moz-transition: all .2s;
            -o-transition: all .2s;
            transition: all .2s;
            &:hover {
              color: white;
              background-color: $laundry-black;
            }
          }
        }
      }
      #slide-01 {
        background-image: image-url("index/slide_01.jpg");
        display: block;
        .overlay-text {
          top: 20%;
          right: 2%;
          width: 36%;
          .text-box {
            margin: 2% 0 0 30%;        
          }

        }
      }
      #slide-02 {
        background-image: image-url("index/slide_02.jpg");
        .overlay-text {
          position: absolute;
          top: 54%;
          right: 4%;
          width: 28%;
          text-align: left;
          font-family: 'Rollerscript-Smooth';
          font-size: 16px;
          font-size: 5vw;
          line-height: 6vw;
          color: $laundry-black;
        }
        .ny-overlay-text {
          position: absolute;
          top: 17%;
          left: 5%;
          width: 28%;
          text-align: left;
          font-family: 'Rollerscript-Smooth';
          font-size: 28px;
          font-size: 2vw;
          line-height: 3vw;
          color: #fff;
          h1 a {
            text-decoration: none;
            color: $laundry-black;
          }
        }
      }
      #slide-03 {
        background-image: image-url("index/slide_03.jpg");
        .overlay-text {
          top: 20%;
          left: 7%;
          width: 25%;
          .text-box {
            margin-top: 10%;
          }
        }
      }
    }
    #box-set {
      text-align: center;
      margin-top: 15px;
      overflow: auto;
      .box {
        display: inline-block;
        width: 32.3333%;
        @media only screen and (max-width: 980px) {
          width: 32%;
        }
        .top-section {
          position: relative;
          padding-top: 74.5%;               // controls the aspect ratio of the images
          background-repeat: no-repeat;
        }
        .bottom-section {
          float: left;
          width: 100%;
          text-transform: uppercase;
          font-family: 'DIN';
          font-size: 13px;
          padding: 12px 0;
          color: white;
        }
      }
      #box-01 {
        .top-section {
          .front-layer {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 3;
            background-color: rgba(0, 177, 148, 0.2);
            .overlay-text {
              position: absolute;
              text-transform: uppercase;
              text-align: left;
              top: -12%;
              left: 9%;
              width: 80%;
              color: $laundry-black;
              h1 {
                font-family: 'Rollerscript-Smooth';
                font-size: 6vw;
                margin-bottom: -25%;
                color: $laundry-green;
                margin-left: 3%;
                text-transform: none;
              }
              h2 {
                font-size: 3.0vw;
                color: white;  
                font-family: 'DIN';
              }
              h3 {
                margin: 5% 0 0 2%;
                font-size: 1.3vw;
                color: $laundry-green;
                font-family: 'DINAlternate-Bold';
              }
            }
          }
          .back-layer {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            background-image: image-url("index/box_01.jpg");
            background-size: cover;
            background-position: 100% 0;
            background-repeat: no-repeat;
            opacity: 0.4;
          }
        }   
        .bottom-section {
          background-color: transparentize($laundry-green, 0.5);
          -webkit-transition: all .2s;
          -moz-transition: all .2s;
          -o-transition: all .2s;
          transition: all .2s;
          &:hover {
            background-color: transparentize($laundry-green, 0.2);
          }
        }     
      }
      #box-02 {
        margin: 0 1%;
        .top-section {
          background-image: image-url("index/box_02.jpg");
          background-size: 165%;
          background-position: 68% 50%;
          .overlay-text {
            position: absolute;
            width: 15%;
            top: 4%;
            font-size: 1.4vw;
            left: 47%;
            height: auto;
            color: white;
            font-family: 'Archer-LightItalic';
            text-align: left;
          }
        }
        .bottom-section {
          background-color: transparentize($laundry-green, 0.5);
          -webkit-transition: all .2s;
          -moz-transition: all .2s;
          -o-transition: all .2s;
          transition: all .2s;
          &:hover {
            background-color: transparentize($laundry-green, 0.2);
          }
        }  
      }
      #box-03 {
        .top-section {
          background-image: image-url("index/box_03.jpg");
          background-size: 100%;
          background-position: 0 100%;
          .overlay-text {
            position: absolute;
            font-family: 'Rollerscript-Smooth';
            font-size: 2vw;
            color: $laundry-black;
          }
          .overlay-text:first-of-type {
            top: 39%;
            left: 1%;
            width: 40%;
          }
          .overlay-text:last-of-type {
            top: 47%;
            left: 10%;
            width: 40%;
          }
        }
        .bottom-section {
          background-color: transparentize($laundry-green, 0.5);
          -webkit-transition: all .2s;
          -moz-transition: all .2s;
          -o-transition: all .2s;
          transition: all .2s;
          &:hover {
            background-color: transparentize($laundry-green, 0.2);
          }
        }  
      }
      #box-04 {
        text-align: center; 
        display: block;
        width: 100%;
        margin-top: 65px;
        .overlay-text {
          margin: 0 auto;
          width: 275px;
          color: $laundry-black;
          img {
            width: 34%;
            margin-bottom: -4%;
          }
          p {
            font-family: 'Archer-LightItalic';
            font-size: 18px;
          }
          #stars {
            margin: 0 auto 13% auto;
            p:first-child {
              font-family: 'DINAlternate-Bold';
              font-size: 16px;
              color: $laundry-black;
              margin-bottom: -4%;
            }
            p:last-child {
              color: $laundry-green;
              font-size: 20px;
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: $mobile-width) {
    #main {
      margin-top: -10px;
      width: 100%;
      .slider {
        margin-bottom: 80px;
        overflow: visible;
        .slide-control {
          width: 73px;
          top: 106%;
          left: 0;
          right: 0;
          margin: 0 auto;
          .slide-left, .slide-right {
            display: none;
          }
          .circle {
            border-color: white;
            width: 12px;
            height: 12px;
            border-radius: 6px;
            border-width: 2px;
            cursor: pointer;
            &.current {
              background-color: white;
            }
          }
        }
        .slide {
          .overlay-text {
            h1 {
              font-size: 4.5vw;
            }
            p {
              font-size: 3vw;
            }
            .text-box {
              font-size: 2vw;
            }
          }
        }
        #slide-01 {
          .overlay-text {
            width: 34%;
            top: 5%;
            right: 6%;
            .text-box {
              margin-left: 16%;
            }
          }
        }
        #slide-02 {
          .overlay-text {
            top: 55%;
            right: 3%;
            width: 27%;

          }
        }
        #slide-03 {
          .overlay-text {
            .text-box {
              margin-top: 17%;
            }
          }
        }
      }
      #box-set {
        margin: 0 auto 50px auto;
        width: 90%;
        .box {
          float: left;
          width: 49%;
        }
        #box-01 {
          .top-section {
            .front-layer {
              .overlay-text {
                h1 {
                  font-size: 9vw;
                  margin-bottom: -18%;
                }
                h2 {
                  font-size: 4vw;

                }
                h3 {
                  font-size: 2vw;
                }
              }
            }
          }
        }
        #box-02 {
          float: right;
          margin: 0;
          .top-section {
            .overlay-text {
              font-size: 2.2vw;
            }
          }
        }
        #box-03 {
          float: left;
          margin-top: 2%;
          .top-section {
            .overlay-text {
              font-size: 3vw;
            }
          }
        }
        #box-04 {
          float: right;
          position: relative;
          margin-top: 2%;
          display: inline-block;
          background-color: white;
          width: 49%;
          .overlay-text {
            margin: 0 auto;
            width: 80%;
            img {
              width: 42%;
              margin-bottom: -10%;
              margin-top: 11%;
            }
            p {
              font-size: 3.9vw;
            }
            #stars {
              margin-bottom: 0;
              p:first-child {
                font-size: 2vw;
                margin-bottom: -4%;
              }
              p:last-child {
                font-size: 2vw;
              }
            }
          }
        }
      }
    }
  }
}