
body.index {
  #main {
    width: 90%;
    margin: 150px auto 0 auto;
    background-color: red;
    #slider {
      height: 500px;
      background-color: blue;
    }
    #box-set {
      height: 700px;
      background-color: green;
    }
  }
}