@import 'variables';

.laundrystories {
	#main {
	position: relative;
	margin: 150px auto 0;
	max-width: 980px;
	z-index: 1;
	background-color: #fff;
	font-family: 'DIN';
  font-size: 14px;
	color: #53534a;

	h1 {
	  font-family: 'Archer-LightItalic';
      font-size: 50px;
      font-weight: 400;
      margin-bottom: .1em;
      @media only screen and (max-width: $mobile-width) {
		   font-size: 40px;
		   margin-bottom: .5em;
	  }
	}

	h2 {
	  font-family: 'DIN', sans-serif;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 400;
      margin-bottom: 33px;
      color: $laundry-green;
	}


	h3 {
	  font-family: 'Archer-LightItalic';
      font-size: 25px;
      font-weight: 400;
      margin-bottom: .1em;
      line-height: 1.4em;
	}
	p {
		margin: 0 0 10px 0;
	}
  .smalltext{
	  font-family: 'DIN';
    font-size: 10px;
    text-transform: uppercase;
	}
	.quotetext{
		font-family: 'Archer-LightItalic';
    font-size: 26px;
	}
	.head {
		text-align: center;
		width: 100%;
		margin-bottom: 4em;
		display: inline-block;
		@media only screen and (max-width: $mobile-width) {
		   margin-bottom: auto;
		}
	}
	.whitetext{
		color: #fff;
		line-height: 1.4em;
		letter-spacing: 2px;
		text-align: center;
	}
	//i made this part ⬇︎
	.row {
	  width: 100%;
	  clear: both;
	}
	.regular {
		height: 325px;
			@media only screen and (max-width: $tablet-width) { 
				margin-top: 0px;
			}
			@media only screen and (max-width: $tablet-portrait) {
				height: 100%;
				margin-top: 0px;
			}
	}
	.special {
		height: 325px;
			@media only screen and (max-width: $tablet-width) { 
				margin-top: 0px;
			}
			@media only screen and (max-width: $tablet-portrait) {
				height: 100%;
				margin-top: 0px;
			}
			@media only screen and (max-width: $mobile-width) {
				height: 201px;
			}
	}
	.short {
		height: 280px;
		@media only screen and (max-width: $tablet-portrait) {
			height: 100%;
		}
	}
	.short02 {
		height: 240px;
		@media only screen and (max-width: $tablet-portrait) {
			height: 100%;
		}
	}
	.short03 {
		height: 240px;
		@media only screen and (max-width: $mobile-width) {
			height: 190px;
			position: relative;
			top: -70px;
		}
	}
	
	.block01 {
		width: 40%;
		height: 100%;
		float: left;
		display: inline-block;
		background-image: url('/images/yen_stories.jpg');
		background-size: 100% auto;
		background-repeat: no-repeat;
		background-position: center bottom;
		max-width: 100%;
		@media only screen and (max-width: $mobile-width) {
			background-position: left;
			background-size: 70%;
		}
		@media only screen and (max-width: $tablet-portrait) {
			background-position: left top;
			width: 100%;
			float: none;
			display: block;
			clear: both;
			height: 238px;
			min-width: 100%;
		}

	}
	.block02 {
		width: 60%;
		display: inline-block;
		float: left;
		margin-top: 30px;
		min-width: 295px;
		padding: 20px 20px 0 20px;
		text-align: center;
		.text-container {
			@media only screen and (max-width: $mobile-width) {
				text-align: left;
			}
		}
		@media only screen and (max-width: $tablet-portrait) {
			width: 100%;
			padding: 40px 40px 0 20px;
			float: none;
			display: block;
			clear: both;
		}
		@media only screen and (max-width: $tablet-width) {
			margin-top: 0;
			padding: 20px 20px 0 20px;
		}
	}
	.block03 {
		display: inline-block;
		float: left;
		width: 40%;
		padding: 40px 40px 0 30px;
		max-width: 100%;
		.text-container {
			@media only screen and (max-width: $mobile-width) {
				margin-top: -100px;
				margin-bottom: 60px;
			}
		}
		@media only screen and (max-width: $tablet-portrait) {
			width: 100%;
			padding: 40px 40px 0 20px;
			float: none;
			display: block;
			clear: both;
		}
		@media only screen and (max-width: $tablet-width) {
			margin-top: 0;
			padding: 20px 20px 0 20px;
		}
	}
	.block04 {
		display: inline-block;
		float: left;
		height: 100%;
		width: 60%;
		background-image: url('/images/rebecca_stories.jpg');
		background-size: 100% auto;
		background-repeat: no-repeat;
		background-position: center;
		max-width: 100%;
		@media only screen and (max-width: $tablet-portrait) {
			width: 100%;
			float: none;
			display: block;
			clear: both;
			height: 238px;
			min-width: 100%;
		}
		@media only screen and (min-width: $tablet-portrait) and (max-width: $tablet-width) {
			background-size: 110%;
		}
	}

	.block05 {
		display: inline-block;
		float: left;
		width: 40%;
		height: 100%;
		background: rgba(53,193,170,1);
		background: -moz-linear-gradient(left, rgba(53,193,170,1) 0%, rgba(73,165,191,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(53,193,170,1)), color-stop(100%, rgba(73,165,191,1)));
		background: -webkit-linear-gradient(left, rgba(53,193,170,1) 0%, rgba(73,165,191,1) 100%);
		background: -o-linear-gradient(left, rgba(53,193,170,1) 0%, rgba(73,165,191,1) 100%);
		background: -ms-linear-gradient(left, rgba(53,193,170,1) 0%, rgba(73,165,191,1) 100%);
		background: linear-gradient(to right, rgba(53,193,170,1) 0%, rgba(73,165,191,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35c1aa', endColorstr='#49a5bf', GradientType=1 );
		color: black;
		text-align: center;
		margin: 0 auto;
		max-width: 100%;
		font-size: 27px;
		letter-spacing: normal;
		font-weight: 700;
		//padding: 3px;
		padding-top: 5%;
		color: #fff;
		line-height: 1.4em;
		letter-spacing: 2px;
		text-align: center;
		@media only screen and (max-width: $tablet-portrait) {
			width: 100%;
			float: none;
			display: block;
			clear: both;
			height: 238px;
			min-width: 100%;
			background-position: left;
		}
		@media only screen and (max-width: $mobile-width){
			height: 172px;
		}
		button.contactus {
			-webkit-transition: all 300ms ease-out;
		  -moz-transition: all 300ms ease-out;
		  -o-transition: all 300ms ease-out;
		  transition: all 300ms ease-out;
			border: 0;
			width: 130px;
			height: 40px;
			display: block;
			margin: 10px auto;
			background: none;
			border: 2px solid #fff;
			color: #fff;
			font-size: 12px;
			font-weight: regular;
			&:hover {
				color: #000;
				background-color: #fff;
			}
		}
		h2 {
			font-family: 'DIN';
			font-size: 2em;
			line-height: 1.3em;
			@media only screen and(max-width: $tablet-portrait) {
				font-size: 1.7em;
			}
		}
		a {
			text-decoration: none;
			color: white;
			border: 1px solid white;
			padding: 20px;
			-webkit-transition: all .2s;
		  -moz-transition: all .2s;
		  -o-transition: all .2s;
		  transition: all .2s;
			&:hover {
				color: $laundry-green;
				background-color: white;
			}
		}

		@media only screen and (min-width: $tablet-portrait) and (max-width: $tablet-width) {
			padding: 20px 0 20px 0;
		}
	}
	.block06 {
		width: 60%;
		display: inline-block;
		float: left;
		margin-top: 30px;
		padding-left: 20%;
		padding-right: 50px;
		max-width: 100%;
		.text-container {
			@media only screen and (max-width: $mobile-width) {
				width: 190px;
			}
		}
		@media only screen and (max-width: $tablet-portrait) {
			width: 100%;
			padding: 40px;
			float: none;
			display: block;
			clear: both;
		}
	}
	.block07 {
		display: inline-block;
		float: left;
		width: 40%;
		padding: 10px 40px 0 40px;
		.text-container {
			@media only screen and (max-width: $mobile-width) {
				width: 210px;
				position: relative;
				top: 190px;
				text-align: left;
			}
			@media only screen and (min-width: $mobile-width) and (max-width: $tablet-width) {
				background-size: 140% auto;
				background-position: -30px;
			}
		}
		@media only screen and (max-width: $tablet-portrait) {
			width: 100%;
			float: none;
			padding: 40px 40px 0 40px;
			display: block;
			clear: both;
		}
		@media only screen and (max-width: $tablet-width) {
			margin-top: 0;
			padding: 20px 20px 0 20px;
		}
		@media only screen and (max-width: $mobile-width) {
			width: 50%;
			text-align: center;
		}
	}

	.block08 {
		display: inline-block;
		float: left;
		height: 100%;
		width: 60%;
		background-image: url('/images/jennifer_stories.jpg');
		background-size: contain;
		background-repeat: no-repeat;
		margin: 0 auto;
		max-width: 100%;
		@media only screen and (max-width: $tablet-portrait) {
			width: 100%;
			float: none;
			display: block;
			clear: both;
			height: 238px;
			min-width: 100%;
		}
		@media only screen and (max-width: $mobile-width) {
			margin-top: -421px;
			background-position: 130px;
			background-size: 72%;
		}
	}
	.block09 {
		background-image:url('/images/sarah_stories.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position:bottom;
		height: 100%;
		display: inline-block;
		float: left;
		width: 40%;
		@media only screen and (max-width: $mobile-width) {
			width: 100%;
			background-position: 0px -20px;
		}
	}
	.block10 {
		height: 100%;
		display: inline-block;
		float: left;
		width: 44.6%;
		@media only screen and (max-width: $mobile-width) {
			width: 100%;
		}
		.lips {
			width: 170px;
			position: relative;
			right: -310px;
			top: 20px;
			@media only screen and (max-width: $mobile-width) {
				right: 10px;
				top: 160px;
				z-index: 2;
			}
		}
	}
	.block11 {
		background-image:url('/images/jen_stories.jpg');
		background-size: contain;
		background-repeat: no-repeat;
		margin: 0 auto;
		height: 100%;
		display: inline-block;
		float: left;
		width: 15.4%;
		padding-top: 89px;
		padding-left: 12px;
		.text-container {
			@media only screen and (max-width: $mobile-width) {
				position: relative;
				top: -110px;
				left: -70px;
			}
		}
		@media only screen and (max-width: $mobile-width) {
			width: 304px;
			height: 170px;
			float: right;
			background-position: right top;
			position: relative;
			top: -90px;
		}
	}
}
		




	} 

	#bottombar {
			position: relative;
			margin: 5px auto 0;
			max-width: 980px;
			z-index: 1;
			background: none;
			text-align: center;
			font-size: .8em;
			a.links {
				display: block;
				-webkit-transition: all 300ms ease-out;
			  -moz-transition: all 300ms ease-out;
			  -o-transition: all 300ms ease-out;
			  transition: all 300ms ease-out;
				background: rgba(53,193,170,.5);
				background: -moz-linear-gradient(left, rgba(53,193,170,.5) 0%, rgba(73,165,191,.5) 100%);
				background: -webkit-gradient(left top, right top, color-stop(0%, rgba(53,193,170,.5)), color-stop(100%, rgba(73,165,191,.5)));
				background: -webkit-linear-gradient(left, rgba(53,193,170,.5) 0%, rgba(73,165,191,.5) 100%);
				background: -o-linear-gradient(left, rgba(53,193,170,.5) 0%, rgba(73,165,191,.5) 100%);
				background: -ms-linear-gradient(left, rgba(53,193,170,.5) 0%, rgba(73,165,191,.5) 100%);
				background: linear-gradient(to right, rgba(53,193,170,.5) 0%, rgba(73,165,191,.5) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35c1aa', endColorstr='#49a5bf', GradientType=1 );
				height: 50px;
				width: 33%;
				display: inline-block;
				padding-top: 17px;
				color: white;
				text-decoration: none;
				&:hover{
					//background-color: white;
					background: rgba(53,193,170,.5);
					background: -moz-linear-gradient(left, rgba(73,165,191,.5) 0%, rgba(53,193,170,.5) 100%);
					background: -webkit-gradient(left top, right top, color-stop(0%, rgba(53,193,170,.5)), color-stop(100%, rgba(73,165,191,.5)));
					background: -webkit-linear-gradient(left, rgba(73,165,191,.5) 0%, rgba(53,193,170,.5) 100%);
					background: -o-linear-gradient(left, rgba(73,165,191,.5) 0%, rgba(53,193,170,.5) 100%);
					background: -ms-linear-gradient(left, rgba(73,165,191,.5) 0%, rgba(53,193,170,.5) 100%);
					background: linear-gradient(to right, rgba(73,165,191,.5) 0%, rgba(53,193,170,.5) 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49a5bf', endColorstr='#35c1aa', GradientType=1 );
				}
				@media only screen and (max-width: $mobile-width) {
			    	width: 60%;
			    	margin: 3px;
				}
			}
		}
		
