@import 'variables';

body.laundrystories {
	#main {
		position: relative;
		margin: 150px auto 0;
		max-width: 980px;
		z-index: 1;
		background-color: #fff;
		font-family: 'DIN';
    	font-size: 14px;
		color: #53534a;

		h1 {
		  font-family: 'Archer-LightItalic';
	      font-size: 50px;
	      font-weight: 400;
	      margin-bottom: .1em;
	      @media only screen and (max-width: $mobile-width) {
			   font-size: 40px;
			   margin-bottom: .5em;
		  }
		}

		h2 {
		  font-family: 'DIN', sans-serif;
	      font-size: 14px;
	      text-transform: uppercase;
	      font-weight: 400;
	      margin-bottom: 33px;
	      color: $laundry-green;
		}


		h3 {
		  font-family: 'Archer-LightItalic';
	      font-size: 25px;
	      font-weight: 400;
	      margin-bottom: .1em;
	      line-height: 1.4em;
		}

		.it {
			font-family: 'Archer-LightItalic';
	      font-size: 16px;
		}

        .smalltext{
      	  font-family: 'DIN';
	      font-size: 10px;
	      text-transform: uppercase;
		}

		.quotetext{
			font-family: 'Archer-LightItalic';
	      	font-size: 26px;
		}

		.bottomright{
			position: absolute;
			bottom: 0;
			right: 20px;
		}

		.head {
			text-align: center;
			width: 100%;
			margin-bottom: 4em;
			display: inline-block;
			@media only screen and (max-width: $mobile-width) {
			   margin-bottom: auto;
			}
		}
		.block{
			vertical-align: top;
			display: inline-block;
		}

		.whitetext{
			color: #fff;
			line-height: 1.4em;
			letter-spacing: 2px;
			text-align: center;
		}

		.treatment{
			width: 100%;
			height: 200px;
			font-size: 27px;
			letter-spacing: normal;
			font-weight: 700;
			padding: 3px;
		}

		.leftquote{
			height: 200px;
			width: 100%;
		}

		.bottomleft{
			position: absolute;
			bottom: 0;
		}

		.bigbox {
			height: 400px;
			background-image:url('/images/jennifer_stories.jpg');
			background-size: 61% auto;
			background-repeat: no-repeat;
			background-position: bottom left;
			@media only screen and (max-width: $mobile-width) {
			   background-position: top right;
			   height: 320px;
			}
		}

		.rightquote {
			position: absolute;
			top: 35%;
			left: 40%;
			@media only screen and (max-width: $mobile-width) {
			   left: 0;
			   width: 50% !important;
			}
		}

		#jenquote {
			position: absolute;
			top: 49%;
			left: 60%;
			@media only screen and (max-width: $mobile-width) {
			   top: 19%;
			   left: 15%;
			}
		}

		#realyou{
			.bottomleft {
				margin-left: 20px;
			}
			@media only screen and (max-width: $mobile-width) {
			   height: 70px;
			}
		}

		#lips {
				position: absolute;
				left: 37%;
				top: 16%;
				width: 180px;
				@media only screen and (max-width: $mobile-width) {
			   		left: 3%;
					top: 46%;
					width: 120px;
				}
			}

		.grad {
			background: rgba(53,193,170,1);
			background: -moz-linear-gradient(left, rgba(53,193,170,1) 0%, rgba(73,165,191,1) 100%);
			background: -webkit-gradient(left top, right top, color-stop(0%, rgba(53,193,170,1)), color-stop(100%, rgba(73,165,191,1)));
			background: -webkit-linear-gradient(left, rgba(53,193,170,1) 0%, rgba(73,165,191,1) 100%);
			background: -o-linear-gradient(left, rgba(53,193,170,1) 0%, rgba(73,165,191,1) 100%);
			background: -ms-linear-gradient(left, rgba(53,193,170,1) 0%, rgba(73,165,191,1) 100%);
			background: linear-gradient(to right, rgba(53,193,170,1) 0%, rgba(73,165,191,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35c1aa', endColorstr='#49a5bf', GradientType=1 );
			button.contactus {
				-webkit-transition: all 300ms ease-out;
			  -moz-transition: all 300ms ease-out;
			  -o-transition: all 300ms ease-out;
			  transition: all 300ms ease-out;
				border: 0;
				width: 130px;
				height: 40px;
				display: block;
				margin: 10px auto;
				background: none;
				border: 2px solid #fff;
				color: #fff;
				font-size: 12px;
				font-weight: regular;
				&:hover {
					color: #000;
					background-color: #fff;
				}
			}
		}

		#yen {
			background-image:url('/images/yen_stories.jpg');
			background-size: 100% auto;
			background-repeat: no-repeat;

			@media only screen and (min-width: $mobile-width) and (max-width: $tablet-width) {
				background-size: 130% auto;
				background-position: -70px;
			}
			@media only screen and (max-width: $mobile-width) {
				background-size: 100% auto;
			}
		}

		#yenquote {
			padding-left: 20px;
			.quotetext {
				width: 242px;
				display: inline-block;
			}
			@media only screen and (max-width: $mobile-width) {
				height: 160px;
			}
		}

		#whoneedsmakeup {
			@media only screen and (max-width: $mobile-width) {
				height: 90px;
			}
		}

		#rebecca {
			background-image:url('/images/rebecca_stories.jpg');
			background-size: 100% auto;
			background-repeat: no-repeat;
			@media only screen and (max-width: $mobile-width) {
				height: 210px;
			}
			@media only screen and (min-width: $mobile-width) and (max-width: $tablet-width) {
				background-size: 140% auto;
				background-position: -30px;
			}
		}

		#sarah {
			background-image:url('/images/sarah_stories.jpg');
			background-size: 100% auto;
			background-repeat: no-repeat;
		}

		#jen {
			background-image:url('/images/jen_stories.jpg');
			background-size: 40% auto;
			background-repeat: no-repeat;
			background-position: top right;
			@media only screen and (max-width: $mobile-width) {
				background-size: 70% auto;
				background-position: bottom right;
				height: 180px;
			}
		}		

		.row1 {
			height: 192px;
		}

		.row2 {
			height: 310px;
		}

		.row3 {
			height: 238px;
		}

		.row4 {
			height: 250px;
		}

		.row5 {
			height: 212px;
		}

		.right {
			width: 62%;
			margin: 0;
			padding: 0;
			@media only screen and (max-width: $mobile-width) {
			   width: 100%;
			}
			a {
				color: #000;
				&:visited {
					color: #000;
				}
			}
		}

		.center {
			text-align: center;
		}

		.rel {
			position: relative;
		}

		.padright {
			padding-left: 8%;
			padding-right: 8%;
			@media only screen and (max-width: $mobile-width) {
			   width: 100%;
			   padding-left: 5%;
			   padding-right: 5%;
			}
		}

		.padtop {
			padding-top: 3em !important;
		}

		.left {
			width: 38%;
			margin: 0;
			padding: 0;
			@media only screen and (max-width: $mobile-width) {
			   width: 100%;
			}
		}

		.padleft {
			padding-left: 5%;
			padding-right: 5%;
			@media only screen and (max-width: $mobile-width) {
			   width: 100%;
			   padding-left: 5%;
			   padding-right: 5%;
			}
		}

		@media only screen and (max-width: $mobile-width) {
		    width: 90%;
		    margin-top: 0;
		    line-height: normal;
		}
	}

	#bottombar {
			position: relative;
			margin: 5px auto 0;
			max-width: 980px;
			z-index: 1;
			background: none;
			text-align: center;
			font-size: .8em;
			a.links {
				display: block;
				-webkit-transition: all 300ms ease-out;
			  -moz-transition: all 300ms ease-out;
			  -o-transition: all 300ms ease-out;
			  transition: all 300ms ease-out;
				background: rgba(53,193,170,.5);
				background: -moz-linear-gradient(left, rgba(53,193,170,.5) 0%, rgba(73,165,191,.5) 100%);
				background: -webkit-gradient(left top, right top, color-stop(0%, rgba(53,193,170,.5)), color-stop(100%, rgba(73,165,191,.5)));
				background: -webkit-linear-gradient(left, rgba(53,193,170,.5) 0%, rgba(73,165,191,.5) 100%);
				background: -o-linear-gradient(left, rgba(53,193,170,.5) 0%, rgba(73,165,191,.5) 100%);
				background: -ms-linear-gradient(left, rgba(53,193,170,.5) 0%, rgba(73,165,191,.5) 100%);
				background: linear-gradient(to right, rgba(53,193,170,.5) 0%, rgba(73,165,191,.5) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35c1aa', endColorstr='#49a5bf', GradientType=1 );
				height: 50px;
				width: 33%;
				display: inline-block;
				padding-top: 17px;
				color: white;
				text-decoration: none;
				&:hover{
					//background-color: white;
					background: rgba(53,193,170,.5);
					background: -moz-linear-gradient(left, rgba(73,165,191,.5) 0%, rgba(53,193,170,.5) 100%);
					background: -webkit-gradient(left top, right top, color-stop(0%, rgba(53,193,170,.5)), color-stop(100%, rgba(73,165,191,.5)));
					background: -webkit-linear-gradient(left, rgba(73,165,191,.5) 0%, rgba(53,193,170,.5) 100%);
					background: -o-linear-gradient(left, rgba(73,165,191,.5) 0%, rgba(53,193,170,.5) 100%);
					background: -ms-linear-gradient(left, rgba(73,165,191,.5) 0%, rgba(53,193,170,.5) 100%);
					background: linear-gradient(to right, rgba(73,165,191,.5) 0%, rgba(53,193,170,.5) 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49a5bf', endColorstr='#35c1aa', GradientType=1 );
				}
				@media only screen and (max-width: $mobile-width) {
			    	width: 60%;
			    	margin: 3px;
				}
			}
		}
}