@import "compass";
@import 'variables';
$tablet-width: 980px;

.locations {
	#main {
		position: relative;
		margin: 150px auto 0;
		padding-bottom: 30px;
		max-width: 980px;
		z-index: 1;
		background-color: #fff;
		font-family: 'DIN';
	    font-size: 15px;
	    line-height: 1.4em;
		color: #53534a;

		h1 {
		  font-family: 'Archer-LightItalic';
	      font-size: 60px;
	      font-weight: 400;
	      margin-bottom: .3em;
		}

		h2 {
		  font-family: 'DIN';
	      font-size: 14px;
	      font-weight: 400;
	      margin-bottom: 33px;
	      color: $laundry-green;
		}

		.location-state {
			margin: 50px 0 40px;

			font: 34px 'Archer-LightItalic', serif;
			text-align: center;
			color: #53534a;
		}

		.location-title,
		.phone-no,
		.address-hours {
			text-align: center;

			a {
				text-decoration: none;
			}
		}

		.location-title {
			margin: 10px 0;

			font: 14px 'DIN', serif;
			color: $laundry-green;
		}

		.phone-no,
		.address-hours {
			color: #53534a;

			font: 11px 'DIN-Medium', serif;
		}

		.phone-no {
			margin-top: 20px;
			margin-bottom: 5px;
		}

		.address-hours {
			margin-top: 0;
			margin-bottom: 40px;

			text-transform: uppercase;
		}

		.location {

			border-top: 1px solid transparent;
			border-bottom: 1px solid transparent;

			padding-bottom: 25px;
			
			-moz-border-image: -moz-linear-gradient(left, rgba(53,193,170,1) 0%, rgba(73,165,191,1) 100%);
			-webkit-border-image: -webkit-gradient(left top, right top, color-stop(0%, rgba(53,193,170,1)), color-stop(100%, rgba(73,165,191,1)));
			-webkit-border-image: -webkit-linear-gradient(left, rgba(53,193,170,1) 0%, rgba(73,165,191,1) 100%);
			-o-border-image: -o-linear-gradient(left, rgba(53,193,170,1) 0%, rgba(73,165,191,1) 100%);
			-ms-border-image: -ms-linear-gradient(left, rgba(53,193,170,1) 0%, rgba(73,165,191,1) 100%);
			border-image: linear-gradient(to right, rgba(53,193,170,1) 0%, rgba(73,165,191,1) 100%);
			border-image-slice: 1;
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35c1aa', endColorstr='#49a5bf', GradientType=1 );

			border-left: 0;
			border-right: 0;
		}


		.head {
			width: 100%;

			padding-top: 1em;
			padding-bottom: 2em;

			text-align: center;
		}

		//i made this
		.row {
		  width: 100%;
		}


		@media only screen and (max-width: $mobile-width) {
		    width: 90%;
		    margin-top: 0;
		}
	}

}