
/*----------------------------- LOOKBOOKS PAGE -----------------------------*/

// this constant should be the same as the MOBILE_WIDTH 
// constant at the top of _lookbooks.js
$mobile-width: 700px;   
$background-height: 410px;  


body.treatment {

	#main {
		position: relative;
		max-width: 980px;
		margin: 0 auto;
		margin-top: 140px;
		font-size: 15px;
		min-height: 100%;
		color: #53534a;
		@media only screen and (max-width: 604px) {
			margin-top: 0px;
			width: 90%;
			margin: 0 auto;
		}

		#container {
			background: white;
			font-family: 'DIN';
			h1 {
			  font-family: 'Archer-LightItalic';
		      font-size: 50px;
		      font-weight: 400;
		      margin-bottom: .1em;
		      @media only screen and (max-width: $mobile-width) {
		      	font-size: 2.5em;
		      }
			}

			h2 {
				font-family: 'Archer-LightItalic';
				@media only screen and (max-width: $mobile-width) {
					font-size: 2em;
				}
			}

			#head {
				text-align: center;
				padding: 30px 50px;
			}

			.block {
				vertical-align: top;
			}
			.row1 {
				height: 325px;
			}
			.row2 {
				height: 380px;
				@media only screen and (max-width: $mobile-width) {
					height: 180px;
				}
			}
			.row3 {
				height: 240px;
			}
			.row4 {
				height: 340px;

			}

			#treatment1 {
				background-image: url('/images/treatment1.jpg');
				background-size: 100% auto;
				background-repeat: no-repeat;
				@media only screen and (max-width: $mobile-width) {
					height: 340px;
					min-height: 0;
				}
			}

			#treatment2 {
				background-image: url('/images/treatment2.jpg');
				background-size: 100% auto;
				background-repeat: no-repeat;
				margin-top: -15px;
				@media only screen and (max-width: $mobile-width) {
					//height: 293px;
					margin-top: 150px;
				}
			}

			#booking {
				background-image: url('/images/treatment3.jpg');
				background-size: 100% auto;
				background-repeat: no-repeat;
				color: white;
				text-align: center;
				margin: 0 auto;
				padding: 20px 80px 0 80px;
				margin-top: -15px;
				@media only screen and (max-width: $mobile-width) {
					margin-top: 185px;
				}
				p {
					border: 1px solid white;
					padding: 20px;
				}
			}

			#treatment4 {
				background-image: url('/images/treatment4.jpg');
				background-size: 100% auto;
				background-repeat: no-repeat;
				margin: 0 auto;
				margin-top: -14px;
				@media only screen and (max-width: $mobile-width) {
					margin-top: 280px;
				}
			}

			#results {
				margin-top: -75px;
				@media only screen and (max-width: $mobile-width) {
					margin-top: -30px;
					line-height: 22px;
					margin-bottom: 68px;
				}
			}

			#waiting-for {
				font-family: 'DIN';
				font-size: 1em;
			}

			.left {
				width: 38%;
				display: inline-block;
				margin: 0;
				padding: 0;
				@media only screen and (max-width: $mobile-width) {
					width: 100%;
				}
			}

			.padleft {
				padding-left: 5%;
				padding-right: 5%;
				@media only screen and (max-width: $mobile-width) {
					width: 100%;
					padding-left: 15%;
					padding-right: 15%;
				}
			}

			.right {
				width: 61%;
				display: inline-block;
				margin: 0;
				padding: 0;
				@media only screen and (max-width: $mobile-width) {
					width: 100%;
				}
			}

			.padright {
				padding-left: 20%;
				padding-right: 10%;
				line-height: 22px;
				@media only screen and (max-width: $mobile-width) {
					width: 100%;
					padding-left: 15%;
					//height: 415px;
				}
			}

			.padtop {
				padding-top: 3em !important;
			}

			#paragraph2 {
				line-height: 22px;
			}			

			#paragraph3 {
				margin-top: -33px;
				@media only screen and (max-width: $mobile-width) {
					padding-top: 0;
					margin-top: -133px;
					margin-bottom: 40px;
				}
			}
		}
					
		#bottombar {
			position: relative;
			margin: 5px auto 0;
			max-width: 980px;
			z-index: 1;
			background: none;
			text-align: center;
			font-size: .8em;
			a.links {
				display: block;
				background: rgba(53,193,170,.5);
				background: -moz-linear-gradient(left, rgba(53,193,170,.5) 0%, rgba(73,165,191,.5) 100%);
				background: -webkit-gradient(left top, right top, color-stop(0%, rgba(53,193,170,.5)), color-stop(100%, rgba(73,165,191,.5)));
				background: -webkit-linear-gradient(left, rgba(53,193,170,.5) 0%, rgba(73,165,191,.5) 100%);
				background: -o-linear-gradient(left, rgba(53,193,170,.5) 0%, rgba(73,165,191,.5) 100%);
				background: -ms-linear-gradient(left, rgba(53,193,170,.5) 0%, rgba(73,165,191,.5) 100%);
				background: linear-gradient(to right, rgba(53,193,170,.5) 0%, rgba(73,165,191,.5) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35c1aa', endColorstr='#49a5bf', GradientType=1 );
				height: 50px;
				width: 33%;
				display: inline-block;
				padding-top: 17px;
				color: white;
				text-decoration: none;
				&:hover{
					background-color: white;
				}
				@media only screen and (max-width: $mobile-width) {
			    	width: 60%;
			    	margin: 3px;
				}
			}
		}
	}
}