
/*----------------------------- LOOKBOOKS PAGE -----------------------------*/

// this constant should be the same as the MOBILE_WIDTH 
// constant at the top of _lookbooks.js
$mobile-width: 700px;   
$background-height: 410px;  


body.treatment {

	#main {
		position: relative;
		max-width: 980px;
		margin: 0 auto;
		margin-top: 140px;
		font-size: 15px;
		min-height: 100%;
		height: 1600px;
		@media only screen and (max-width: 604px) {
			margin-top: 0px;
		}

		#container {
			background: white;
			font-family: 'DIN';
			h1 {
			  font-family: 'Archer-LightItalic';
		      font-size: 50px;
		      font-weight: 400;
		      margin-bottom: .1em;
			}

			h2 {
				font-family: 'Archer-LightItalic';
			}

			#head {
				text-align: center;
				padding: 30px 50px;

			}

			.block {
				vertical-align: top;
			}
			.row1 {
				height: 325px;
			}
			.row2 {
				height: 380px;
			}
			.row3 {
				height: 240px;
			}
			.row4 {
				height: 340px;

			}

			#treatment1 {
				background-image: url('/images/treatment1.jpg');
				background-size: 100% auto;
				background-repeat: no-repeat;
				@media only screen and (max-width: $mobile-width) {
					height: 340px;
					min-height: 0;
				}
			}

			#treatment2 {
				background-image: url('/images/treatment2.jpg');
				background-size: 100% auto;
				background-repeat: no-repeat;
				@media only screen and (max-width: $mobile-width) {
					height: 110px;
					min-height: 0;
				}
			}

			#booking {
				background-image: url('/images/treatment3.jpg');
				background-size: 100% auto;
				background-repeat: no-repeat;
				color: white;
				text-align: center;
				margin: 0 auto;
				padding: 20px 80px 0 80px;
				p {
					border: 1px solid white;
					padding: 20px;
				}
			}

			#treatment4 {
				background-image: url('/images/treatment4.jpg');
				background-size: 100% auto;
				background-repeat: no-repeat;
				margin: 0 auto;
			}

			#results {
				margin-top: -55px;
			}

			#waiting-for {
				font-family: 'DIN';
			}

			.left {
				width: 38%;
				display: inline-block;
				margin: 0;
				padding: 0;
				@media only screen and (max-width: $mobile-width) {
					width: 100%;
				}
			}

			.padleft {
				padding-left: 5%;
				padding-right: 5%;
				@media only screen and (max-width: $mobile-width) {
					width: 100%;
					padding-left: 5%;
					padding-right: 5%;
				}
			}

			.right {
				width: 61%;
				display: inline-block;
				margin: 0;
				padding: 0;
				@media only screen and (max-width: $mobile-width) {
					width: 100%;
				}
			}

			.padright {
				padding-left: 20%;
				padding-right: 10%;
				@media only screen and (max-width: $mobile-width) {
					width: 100%;
					padding-left: 17%;
					padding-right: 20%;
				}
			}

			.padtop {
				padding-top: 3em !important;
			}			
		}
					
		#bottombar {
			position: relative;
			margin: 5px auto 0;
			max-width: 980px;
			z-index: 1;
			background: none;
			text-align: center;
			padding-bottom: 400px;
			a.links {
				display: block;
				background: rgba(53,193,170,.5);
				background: -moz-linear-gradient(left, rgba(53,193,170,.5) 0%, rgba(73,165,191,.5) 100%);
				background: -webkit-gradient(left top, right top, color-stop(0%, rgba(53,193,170,.5)), color-stop(100%, rgba(73,165,191,.5)));
				background: -webkit-linear-gradient(left, rgba(53,193,170,.5) 0%, rgba(73,165,191,.5) 100%);
				background: -o-linear-gradient(left, rgba(53,193,170,.5) 0%, rgba(73,165,191,.5) 100%);
				background: -ms-linear-gradient(left, rgba(53,193,170,.5) 0%, rgba(73,165,191,.5) 100%);
				background: linear-gradient(to right, rgba(53,193,170,.5) 0%, rgba(73,165,191,.5) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35c1aa', endColorstr='#49a5bf', GradientType=1 );
				height: 50px;
				width: 33%;
				display: inline-block;
				padding-top: 17px;
				color: white;
				text-decoration: none;
				&:hover{
					background-color: white;
				}
				@media only screen and (max-width: $mobile-width) {
			    	width: 60%;
			    	margin: 3px;
				}
			}
		}
	}
}