/*
 *= require _normalize
 *= require _fonts
 *= require_self
 *= require_tree . 
 */

$mobile-width: 500px;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}

html, body {
  height: 100%;
  -webkit-overflow-scrolling: touch; 
}

body {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  max-width: 100%;
  z-index: 1;
}

.hide-mobile {
  @media only screen and (max-width: $mobile-width) {
    display: none!important;
  }
}

.hide-desktop {
  @media only screen and (min-width: $mobile-width) {
    display: none!important;
  }
}

#header {
	position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  width: 100%;
  height: 110px;
  padding-top: 50px;
  padding: 50px 0 0 70px;
  img {
  	display: inline-block;
  }
  .logo {
  	display: inline-block;
  }
  #shop-nav {
  	display: inline-block;
  	li {
  		display: inline-block;
  	}
  }
  #location-nav {
  	display: inline-block;
		li:first-child {
			display: inline-block;
		}
		li {
			display: none;
		}
  }
  #login {
  	display: inline-block;
  }
}

#nav-open {
	position: absolute;
	z-index: 8000;
	display: inline-block;
	left: 15px;
	top: 55px;
}

#nav-page {
	position: fixed;
  top: 0;
  height: 100%;
  left: -400px;
  width: 400px;
  max-width: 100%;
  z-index: 1000;
  overflow-y: scroll;
  text-align: center;
  cursor: default;
  background-color: white;
  text-transform: uppercase;
  transition: all 300ms;
  outline: 1px solid green;
  &.open {
    left: 0;
  }
  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
    color: black;
  }
  #nav-wrapper {
    position: relative;
    height: 100%;
    min-height: 900px; 
    color: black;
    padding-top: 10px;
    .small-logo {
      width: 100px;
      margin-bottom: 20px;
    }
    .logo {
      width: 200px;
      display: block;
      margin: 0 auto 50px auto;
    }
    #first-time {      
      font-family: 'Archer-LightItalic';
      font-size: 24px;
      text-transform: none;
      text-align: center;
      a {
        color: rgb(0,177,148);
      }
    }
    #main-menu {
      ul {
        text-align: left;
        margin-left: 25%;
      }
      .nav-heading {
        letter-spacing: 2px;
        line-height: 21px;
        margin-bottom: 5px;
        font-family: 'DINAlternate-Bold';
        font-size: 12px;
      }
      li:not(.nav-heading) {
        font-size: 10px;
        font-style: italic;
        font-weight: 100;
        line-height: 20px;
        letter-spacing: 2px;
        font-family: 'DIN';
      }
    }
    #join {
      .email-input {
        width: 200px;
        margin-top: 8px;
        text-align: center;
        font-family: 'DidotLTStd-Italic';
        font-size: 13px;
        letter-spacing: 1px;
        height: 32px;
        padding-top: 7px;
        transition: all 400ms ease-in;
        &:focus {
          padding-top: 0;
        }
      }
    }
    #nav-footer {
      position: absolute;
      width: 250px;
      left: 50%;
      margin-left: -125px;
      bottom: 0;
      height: 180px;
      .social-link {
        display: inline-block;
        margin: 0 20px;
      }
      ul {
        text-align: left;
        margin-left: 15%;
      }
    }
  }
}