<div id="footer"> 
  <div class="instafeed">
    <h1>Instafeed</h1>
    <p>Show off your skin #justlaundered</p>
  </div>
  <div id="instafeed" class="image-grid">

  </div>  
  <div id="bottom-wrapper">
    <div class="join-list">
      <h1>Join the Laundry List</h1>
      <p>Be in the know about new locations, <br class="hide-desktop"> products &amp; exclusive offers.</p>
      <div id="input-and-button">
        <input type="text" placeholder="ENTER YOUR EMAIL HERE" class="email-input focus-hide border-gradient"></input>
        <button>| go</button>
      </div>
    </div>
    <div class="footer-links">
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">The Treatment</a></li>
        <li><a href="#">Shop</a></li>
        <li><a href="#">Book</a></li>
        <li><a href="#">Laundry Locations</a></li>
      </ul>
      <div class="social">
        <a class="social-link" href="#"><i class="fa fa-facebook"></i></a>
        <a class="social-link" href="#"><i class="fa fa-instagram"></i></a>
      </div> 
    </div>
  </div>
</div>
<script>
    var userFeed = new Instafeed({
        get: 'user',
        userId: 320927027,
        accessToken: '320927027.467ede5.17f64a159b014d79bbdf51d49db07326',
        limit: 14
    });
    userFeed.run();
</script>