<div id="header">
  <!-- <div id="nav-open"><%= image_tag "menu_placeholder.jpg", :class => "none"  %></div> -->
  <% if page_classes.split(" ").first == "index" %>
    <%= image_tag "full_logo.png", :class => "logo hide-mobile" %>
  <% else %>
    <a href="/" class="to-home"><%= image_tag "full_logo.png", :class => "logo hide-mobile" %></a> 
  <% end %>
  <ul id="shop-nav">
    <li>Book Now</li>
    <li>Shop Treatments</li>
    <li>Shop Products</li>
  </ul>  
  <ul id="location-nav">
    <li>Nearest Laundry</li>
    <li>location example</li>
    <li>location example</li>
  </ul>
  <div id="login">
    <a href=""></a>
    <%= image_tag "shopping_bag.png" %>
  </div>
</div>