<div id="nav-open"><%= image_tag "menu_placeholder.jpg", :class => "none"  %></div>
<div id="nav-page">
	<div id="list-wrapper">
		<%= image_tag "full_logo.png", :class => "logo" %>
    <ul>
      <li class="nav-heading">About Us</li>
      <li><a href="">Our Story</a></li>
      <li><a href="">Laundry Stories</a></li>
    </ul>
    <ul>
      <li class="nav-heading">The Treatement</li>
    </ul>
    <ul>
      <li class="nav-heading"><a href="/about">Shop</a></li>
      <li><a href="">products</a></li>
      <li><a href="">Treatements</a></li>
    </ul>
    <ul>
      <li class="nav-heading"><a href="">Book</a></li>
    </ul>
    <ul>
      <li class="nav-heading"><a href="">Laundry Locations</a></li>
    </ul>
    <ul>
      <li class="nav-heading">Join the Laundry List</li>
      <li>be in the know about new locations, products &amp; exclusive offers</li>
      <li><input type="text" placeholder="Enter Your Email Here" class="email-input focus-hide"></input><button>| go</button></li>
    </ul>
  </div>
  <div id="list-footer">
	  <div class="social">
	  	<a href="">facebook</a>
	  	<a href="">instagam</a>
	  </div>	
	  <div class="nav-footerlinks">
	  	<ul>
	  		<li>faq</li>
	  		<li>terms of use</li>
	  		<li>shipping &amp; returns</li>
	  		<li>privacy policy</li>
	  		<li>contact</li>
	  	</ul>
	  </div>
  </div>
</div>