<div id="nav-open">
  <div class="line line-one"></div>
  <div class="line line-two"></div>
  <div class="line line-three"></div>
  <div id="location-login" class="hide-desktop">
    <ul id="location-nav" class="location-mobile">
      <li id="nearest">Nearest Laundry</li>
      <li class="hidden-list"><a href="">location example</a></li>
      <li class="hidden-list"><a href="">location example</a></li>
    </ul>
    <div id="login">
      <a href=""></a>
      <%= image_tag "shopping_bag.png", class: "shopping-bag" %>
    </div>
  </div>
</div>
<div id="nav-page">
	<div id="nav-wrapper">
    <a href="/"><%= image_tag "sl_seal.png", :class => "small-logo" %></a>
		<%= image_tag "full_logo.png", :class => "logo" %>
    <div id="first-time">
      <a href="firsttime.html">First Time?</a>
    </div>
    <div id="main-menu">
      <ul>
        <li class="nav-heading">About Us</li>
        <li><a href="/story.html">Our Story</a></li>
        <!-- <li><a href="http://blog.skinlaundry.com/">Laundry Stories</a></li> -->
      </ul>
      <ul>
        <li class="nav-heading">The Treatment</li>
        <li><a href="/the-treatment.html">Info</a></li>
        <li><a href="/shop-treatments.html">Rates</a></li>
      </ul>
      <ul>
        <li class="nav-heading"><a href="/products.html">Shop Products</a></li>
      </ul>
      <ul>
        <li class="nav-heading"><a href="<%= $BOOKING_ENDPOINT%>">Book</a></li>
      </ul>
      <ul>
        <li class="nav-heading"><a href="/locations.html">Laundry Locations</a></li>
      </ul>
    </div>
    <div class="join-list">
      <h1>Join the Laundry List</h1>
      <p>Be in the know about new locations, products &amp; exclusive offers.</p>
      <div id="input-and-button">
        <input type="text" placeholder="ENTER YOUR EMAIL HERE" class="email-input focus-hide border-gradient">
        <button>| go</button>
      </div>
    </div>
    <div id="nav-footer">
      <div class="social">
        <a class="social-link" href="https://www.facebook.com/skinlaundry"><i class="fa fa-facebook"></i></a>
        <a class="social-link" href="https://instagram.com/skinlaundry/"><i class="fa fa-instagram"></i></a>
      </div>  
      <div>
        <ul>
          <li><a href="/faq.html">FAQ</a></li>
          <li><a href="/terms.html">Terms of Use</a></li>
          <li><a href="#">Shipping &amp; Returns</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="/contact-us.html">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>