<div id="nav-open"><%= image_tag "menu_placeholder.jpg", :class => "none"  %></div>
<div id="nav-page">
	<div id="nav-wrapper">
    <%= image_tag "http://lorempixel.com/200/200/", :class => "small-logo" %>
		<%= image_tag "full_logo.png", :class => "logo" %>
    <div id="first-time">
      <a href="#">First Time?</a>
    </div>
    <div id="main-menu">
      <ul>
        <li class="nav-heading">About Us</li>
        <li><a href="/story.html">Our Story</a></li>
        <li><a href="/laundrystories.html">Laundry Stories</a></li>
      </ul>
      <ul>
        <li class="nav-heading">The Treatment</li>
      </ul>
      <ul>
        <li class="nav-heading">Shop</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="/treatment.html">Treatments</a></li>
      </ul>
      <ul>
        <li class="nav-heading"><a href="/book.html">Book</a></li>
      </ul>
      <ul>
        <li class="nav-heading"><a href="#">Laundry Locations</a></li>
      </ul>
    </div>
    <div id="join">
      <h1>Join the Laundry List</li>
      <p>be in the know about new locations, products &amp; exclusive offers</p>
      <input type="text" placeholder="Enter Your Email Here" class="email-input focus-hide"></input><button>| go</button>
    </div>
    <div id="nav-footer">
      <div class="social">
        <a class="social-link" href="#"><i class="fa fa-facebook"></i></a>
        <a class="social-link" href="#"><i class="fa fa-instagram"></i></a>
      </div>  
      <div class="nav-footerlinks">
        <ul>
          <li><a href="/faq.html">faq</a></li>
          <li>terms of use</li>
          <li>shipping &amp; returns</li>
          <li>privacy policy</li>
          <li>contact</li>
        </ul>
      </div>
    </div>
  </div>
</div>