<div id="main">
    <div class="head">
        <h1>Book a Treatment</h1>
    </div>
    <div id="customers">
    	<div id="returning">
    		<h3>RETURNING CUSTOMERS</h3>
    		<form>
    			<input type="tel" placeholder="YOUR PHONE NUMBER" class="forms"><br>
    			<span id="or">OR</span><br>
    			<input type="text" placeholder="USER NAME" class="forms"><br>
    			<input type="password" placeholder="PASSWORD" class="forms"><br>
    			<button type="submit" name="SUBMIT" class="forms submit">SUBMIT</button>
    		</form>
            
    	</div><div id="new">
    		<h3>NEW CUSTOMERS</h3>
    			<form class="fields">
	    			<input type="text" placeholder="FIRST NAME" class="forms"><br>
	    			<input type="text" placeholder="LAST NAME" class="forms"><br>
	    			<input type="tel" placeholder="PHONE NUMBER" class="forms"><br>
	    			<input type="email" placeholder="EMAIL" class="forms"><br>
	    			<button type="submit" name="JOIN" class="forms submit">JOIN</button>
	    		</form>
    		</div>
    	</div>
    </div>