<div id="main">
	<div class="head">
		<h1>Contact Us</h1>
	</div>

	<div class="row clearfix">
		<div class="box-left hq-photo">
			<img src="images/sl-hq-featured.jpg" alt="HQ Team" class="img-responsive">
		</div>

		<div class="box-right">
			<div class="hq-details">
				<h3 class="hq-title">SKIN LAUNDRY HEADQUARTER</h3>
				<p class="address">1537 PONTIUS AVENUE</p>
				<p class="address">LOS ANGELES, CA 90025</p>
			</div>
		</div>
	</div>

	
	<div class="row clearfix">
		<div class="box-left">
			<div class="contact-info">
				<h2>Call Us at: 310-319-9400</h2>

				<div class="email-row clearfix">
					<div class="col-one-half">
						<h3>General Inquiries</h3>
						<a href="mailto:inquires@skinlaundry.com">inquires@skinlaundry.com</a>
					</div>

					<div class="col-one-half">
						<h3>MEDIA Inquiries</h3>
						<a href="mailto:inquires@skinlaundry.com">inquires@skinlaundry.com</a>
					</div>
				</div>

				<div class="email-row clearfix">
					<div class="col-one-half">
						<h3>PRODUCTS</h3>
						<a href="mailto:product@skinlaundry.com">product@skinlaundry.com</a>
					</div>

					<div class="col-one-half">
						<h3>CAREERS</h3>
						<a href="mailto:careers@skinlaundry.com">careers@skinlaundry.com</a>
					</div>
				</div>
			</div>
		</div>

		<div class="box-right">
			<div class="google-maps-container">
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3305.804136430683!2d-118.446573!3d34.048895!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2bb7a16a4e21d%3A0xb609940452de8d6f!2s1537+Pontius+Ave%2C+Los+Angeles%2C+CA+90025%2C+USA!5e0!3m2!1sen!2s!4v1424422010111" frameborder="0" style="border:0"></iframe>
			</div>
		</div>
	</div>


</div>