<div id="main">
    <div id="container">
        <div id="head">
            <h1>FAQ</h1>
            <h3 id="subheading">FREQUENTLY ASKED QUESTIONS</h3>
        </div>
        <div class="row regular clearfix">
            <div class="block01"></div>
            <div class="block02">
                <h2>What is Skin Laundry's Signature Light &#38; Laser Treatment?</h2>
                <p>Our Signature Laser & Light Treatment utilizes advanced YAG Laser & Light technology to completely cleanse your skin by removing all the dirt and bacteria. This helps even out skin tone, decrease pore size, improve scars and blemishes making the skin healthier, stronger and more radiant. The treatment only takes 10 minutes and there is no downtime.</p>
            </div>
        </div>
        <div class="row short clearfix">
            <div class="block04 hide-desktop"></div>
            <div class="block03">
                <h2>How does it work?</h2>
                <p>Our unique method involves using a YAG laser and IPL (Intense Pulse Light). The laser actively vaporizes excess dirt, makeup and bacteria from your pores first and foremost; the long term effects of the laser can help with pigmentation and collagen production.</p>

                <p>The IPL works with the brown and red tones of the skin to even out the skin tone as well as stimulate the natural collagen that lies down in the dermis. The combination of laser and IPL clears tones and conditions the skin. The pores are also minimized so they appear less visible.</p>
            </div>
            <div class="block04 hide-mobile"></div>
        </div>
        <div class="row regular clearfix">
            <div class="block05 hide-mobile">
                <h3 id="contact-us">OUR HIGHLY TRAINED STAFF AND HEALTH CARE PROFESSIONALS WILL BE HAPPY TO ANSWER ANY ADDITIONAL QUESTIONS YOU HAVE. PLEASE CALL 877-SKINTEAM NOW.</h3>
                <a href="/contact-us.html">CONTACT US</a>
            </div>
            <div class="block06">
                <h2 class="question" id="question1"><a href="#">How much does it cost?</a></h2>
                <p class="show-class" id="answer1">The overall cost of the treatment is affordable (under $50 with a membership). We have customized a variety of packages and memberships to make Skin Laundry as affordable and convenient as possible. <a ng-href="{{base.default_zone.length ? '/' + base.default_zone + '/treatments.html' : '/shop-treatments-default.html'}}">LEARN MORE HERE</a>.</p>

                <h2 class="question" id="question2"><a href="#">Who performs the treatment?</a></h2>
                <p class="show-class" id="answer2">Our treatments are performed by experienced, certified healthcare professionals highly trained on proven Skin Laundry protocols and overseen by a team of medical advisors.</p>

                <h2 class="question" id="question3"><a href="#">What areas can be treated?</a></h2>
                <p class="show-class" id="answer3">The Skin Laundry Signature Laser & Light treatment focuses on the facial region.</p>

                <h2 class="question" id="question4"><a href="#">Is it painful?</a></h2>
                <p class="show-class" id="answer4">The treatment feels like a mild tingling sensation on your skin but isn’t considered painful.</p>

                <h2 class="question" id="question9"><a href="#">What are the immediate and long-term results?</a></h2>
                <div class="show-class" id="answer9">
                    <p>IMMEDIATE BENEFITS</p>
                    <ul>
                        <li>Vaporizes dirt and removes bacteria leaving skin clean, clear & glowing</li>
                        <li>Improves dull complexion and unevenness</li>
                        <li>Tightens and brightens skin</li>
                        <li>Leaves skin softer, smoother, radiant and glowing.</li>
                    </ul>

                    <p>LONG-TERM BENEFITS OF  REGULAR TREATMENTS</p>
                    <ul>
                        <li>Reduces the signs of sun damage skin & early signs of aging.</li>
                        <li>Noticeably reduces fine lines and wrinkles</li>
                        <li>Stimulates collagen and elastin production leaving skin smoother, more supple and firmer.</li>
                        <li>Reduces overall redness</li>
                        <li>Clears acne and helps prevent future breakouts.</li>
                        <li>Reduces the visible appearance of pores.</li>
                        <li>Evens skin tone, texture</li>
                        <li>Reduces the visible amount of scarring on the skin from acne lesions and cysts.</li>
                        <li>Reduces hyperpigmentation, unevenness, sunspots, age spots and melasma.</li>
                        <li>Diminishes visible broken capillaries.</li>
                    </ul>
                </div>

                <h2 class="question" id="question5"><a href="#">What I can expect during a visit to Skin Laundry?</a></h2>
                <div class="show-class" id="answer5">
                    <p>After a thorough cleansing of the face, you will meet with a Physician Assistant for a brief skin consultation before entering the treatment room where protective eye goggles will be placed on you.</p>

                    <p>Once the procedure begins, one of our highly trained healthcare professionals will perform the laser treatment by using a hand piece, which delivers a pulse of laser over the facial area. The laser is a tingling sensation that is noticeable but not painful. The laser hits the dermis and deep cleans the skin by vaporizing all the impurities from the pores. The laser also targets pigmentation, stimulates collagen production which minimizes the appearance of pores and fine lines, and destroys bacteria.</p>

                    <p>After the laser procedure, a layer of cooling gel is placed on the face to start the next part of the procedure - IPL (Intense Pulse Light). The IPL delivers high intensity pulses of broadband light which helps to reduce redness and even out skin tone. The skin is then cleansed again to remove the gel and Skin Laundry’s toner and Essentially Daily Moisturizer with SPF 35 is applied is to finish the treatment.</p>
                </div>

                <h2 class="question" id="question6"><a href="#">How soon will I see the results?</a></h2>
                <p class="show-class" id="answer6">You will immediately notice cleaner and smoother skin after your first treatment.  More frequent treatments lead to optimal results. Improvements will accelerate after each additional session.</p>

                <h2 class="question" id="question7"><a href="#">Should I get multiple treatments?</a></h2>
                <p class="show-class" id="answer7">Yes.  We believe frequency is the key to great results.  Regular skin laundry treatments will visibly improve smoothness, evenness, tone, texture, radiance and clarity of your skin while also diminishing the appearance of pores, reducing the look of lines and wrinkles.</p>
                <h2 class="question" id="question8"><a href="#">Who should <strong>not</strong> undergo a Skin Laundry treatment?</a></h2>
                <div class="show-class" id="answer8">
                    <p>All clients must present photo identification at check in. Clients must be at least 18 years of age and show a valid driver license or passport. There will be no exceptions to this policy. Each of the following is a contraindication for the Skin Laundry Signature Treatment. If none of these apply to you please proceed to the "Book Online" Tab</p>

                    <ul>
                        <li>Pregnant (ok if breastfeeding)</li>
                        <li>Light Induced Seizures</li>
                        <li>History of skin cancer ANYWHERE on the face (required letter of approval from doctor)</li>
                        <li>Botox/fillers within 2 days</li>
                        <li>Blood thinners</li>
                        <li>Self-tanning lotion or spray within 1 week</li>
                        <li>Accutane within 6 months</li>
                        <li>Photosensitizing medications (see updated list)</li>
                        <li>Chemical peels within 1 week (glycolic, salicylic, TCA, Jessner): If there is still evidence of visible peeling/scabbing ANYWHERE on face, do not proceed with treatment</li>
                        <li>Laser within 4 weeks (Fraxel, CO2)</li>
                        <li>Active Infection OR Immunosuppression (active external cold sore)</li>
                    </ul>
                </div>
            </div>
            <div class="block05 hide-desktop">
                <h3 id="contact-us">OUR HIGHLY TRAINED STAFF AND HEALTH CARE PROFESSIONALS WILL BE HAPPY TO ANSWER ANY ADDITIONAL QUESTIONS YOU HAVE. PLEASE CALL 877-SKINTEAM NOW.</h3>
                <a href="#">CONTACT US</a>
            </div>
        </div>
    </div>

    <div id="bottombar">
        <a class="links" ng-href = "{{base.default_zone.length ? '/' + base.default_zone + '/treatments.html' : '/shop-treatments-default.html'}}">TRY US</a>
        <a class="links" ng-href = "{{base.default_location_key.length ? '/locations/' + base.default_location_key + '.html' : '/locations.html'}}">FIND A LAUNDRY NEAR YOU</a>
        <a class="links" href="/products.html">SHOP OUR CLEANSERS</a>
    </div>

</div>

<script>
    var lastQuestion = 0;
    window.onload = function(){
        var questionNum;
        var answerNum;
        $('.question').on('click', function(e) {
            e.preventDefault();
            questionNum = $(this).attr('id').slice(-2);
            answerNum = '.answer'+questionNum;
            if(lastQuestion != questionNum)
            {
                $('.show-class').slideUp();
                $(answerNum).slideDown();
                lastQuestion = questionNum;
            }
        })
    };
</script>
