<div id="main">
    <div id="container">
        <div id="head">
            <h1>FAQ</h1>
            <h3 id="subheading">FREQUENTLY ASKED QUESTIONS</h3>
        </div>
        <div class="row regular">
            <div class="block01"></div>
            <div class="block02">
                <h2>What is Skin Laundry's Signature Light &#38; Laser Treatment?</h2>
            <p>Our Signature Laser &#38; Light Treatment utilizes advanced YAG Laser &#38; technology to completely cleanse your skin by removing all the dirt and bacteria. This helps even out skin tone, decrease pore size, improve scars and blemishes making the skin healthier, stronger and more radiant. The treatment only takes 10 minutes and there is no downtime.</p>
            </div>
        </div>
        <div class="row short">
            <div class="block04 hide-desktop"></div>
            <div class="block03">
                <h2>How does it work?</h2>
            <p>Our unique method involves using a YAG laser and IPL (Intense Pulse Light). The laser actively vaporizes excess dirt, makeup and bacteria from your pores first and foremost; the long term effects of the laser can help with pigmentation and collagen production. The IPL works with the brown and red tones of the skin to even out the skin tone as well as stimulate the natural collagen that lies down in the dermis. The combination of laser and IPL clears tones and conditions the skins. The pores are also minimized so they appear less visible.</p>
            </div>
            <div class="block04 hide-mobile"></div>
        </div>
        <div class="row regular">
            <div class="block05 hide-mobile">
                <h3 id="contact-us">OUR HIGHLY TRAINED STAFF AND HEALTH CARE PROFESSIONALS WILL BE HAPPY TO ANSWER ANY ADDITIONAL QUESTIONS YOU HAVE. PLEASE CALL 877-SKINTEAM NOW.</h3>
                <a href="#">CONTACT US</a>
            </div>
            <div class="block06">
                <h2 class="question" id="question1"><a href="#">How much does it cost?</a></h2>
                <p class="show-class" id="answer1">The overall cost of the treatment is affordable (under $50 with a membership). We have customzed a variety of packages and memberships to make Skin Laundry as affordable and convenient as possible. <a href="#">LEARN MORE HERE</a>.</p>
                <h2 class="question" id="question2"><a href="#">Who performs the treatment?</a></h2>
                <p class="show-class" id="answer2">Answer 2 Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                <h2 class="question" id="question3"><a href="#">What areas can be treated?</a></h2>
                <p class="show-class" id="answer3">Answer 3 Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                <h2 class="question" id="question4"><a href="#">Is it painful?</a></h2>
                <p class="show-class" id="answer4">Answer 4 Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                <h2 class="question" id="question5"><a href="#">What results can I expect?</a></h2>
                <p class="show-class" id="answer5">Answer 5 Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                <h2 class="question" id="question6"><a href="#">How soon will I see the results?</a></h2>
                <p class="show-class" id="answer6">Answer 6 Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                <h2 class="question" id="question7"><a href="#">Should I get multiple treatments?</a></h2>
                <p class="show-class" id="answer7">Answer 7 Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                <h2 class="question" id="question8"><a href="#">Who should <strong>not</strong> undergo a Skin Laundry treatment?</a></h2>
                <p class="show-class" id="answer8">Answer 8 Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
            </div>
            <div class="block05 hide-desktop">
                <h3 id="contact-us">OUR HIGHLY TRAINED STAFF AND HEALTH CARE PROFESSIONALS WILL BE HAPPY TO ANSWER ANY ADDITIONAL QUESTIONS YOU HAVE. PLEASE CALL 877-SKINTEAM NOW.</h3>
                <a href="#">CONTACT US</a>
            </div>
        </div>
    </div>

    <div id="bottombar">
        <a class="links" href="#">TRY US ON</a>
        <a class="links" href="#">FIND A LAUNDRY NEAR YOU</a>
        <a class="links" href="#">SHOP OUR CLEANSERS</a>
    </div>

</div>

<script>
    var lastQuestion = 0;
    window.onload = function(){
        var questionNum;
        var answerNum;
        $('.question').on('click', function(e) {
            e.preventDefault();
            questionNum = $(this).attr('id').slice(-1);
            answerNum = '#answer'+questionNum;
            if(lastQuestion != questionNum)
            {
                $('.show-class').slideUp();
                $(answerNum).slideDown();
                lastQuestion = questionNum;
            }
            //console.log(answerNum);
        })
    };
</script>
