<div id="main">
    <div id="container">
        <div id="head">
            <h1>FAQ</h1>
            <h3 id="subheading">FREQUENTLY ASKED QUESTIONS</h3>
        </div>
        <div class="row regular">
            <div class="block01"></div>
            <div class="block02">
                <h2>What is Skin Laundry's Signature Light &#38; Laser Treatment?</h2>
            <p>Our Signature Laser &#38; Light Treatment utilizes advanced YAG Laser &#38; technology to completely cleanse your skin by removing all the dirt and bacteria. This helps even out skin tone, decrease pore size, improve scars and blemishes making the skin healthier, stronger and more radiant. The treatment only takes 10 minutes and there is no downtime.</p>
            </div>
        </div>
        <div class="row short">
            <div class="block04 hide-desktop"></div>
            <div class="block03">
                <h2>How does it work?</h2>
            <p>Our unique method involves using a YAG laser and IPL (Intense Pulse Light). The laser actively vaporizes excess dirt, makeup and bacteria from your pores first and foremost; the long term effects of the laser can help with pigmentation and collagen production. The IPL works with the brown and red tones of the skin to even out the skin tone as well as stimulate the natural collagen that lies down in the dermis. The combination of laser and IPL clears tones and conditions the skins. The pores are also minimized so they appear less visible.</p>
            </div>
            <div class="block04 hide-mobile"></div>
        </div>
        <div class="row regular">
            <div class="block05 hide-mobile">
                <h3 id="contact-us">OUR HIGHLY TRAINED STAFF AND HEALTH CARE PROFESSIONALS WILL BE HAPPY TO ANSWER ANY ADDITIONAL QUESTIONS YOU HAVE. PLEASE CALL 877-SKINTEAM NOW.</h3>
                <a href="#">CONTACT US</a>
            </div>
            <div class="block06">
                <h2 class="question" id="question01"><a href="#">What is Skin Laundry’s Signature Light &#38; Laser Treatment?</a></h2>
                <p class="show-class answer01">Our Signature Laser &#38; Light Treatment utilizes advanced YAG Laser &#38; Light technology to completely cleanse your skin by removing all the dirt and bacteria. This helps even out skin tone, decrease pore size, improve scars and blemishes making the skin healthier, stronger and more radiant. The treatment only takes 10 minutes and there is no downtime.</p>

                <h2 class="question" id="question02"><a href="#">How does it work?</a></h2>
                <p class="show-class answer02">Our unique method involves using a YAG laser and IPL (Intense Pulse Light).  The laser actively vaporizes excess dirt, makeup and bacteria from your pores first and foremost; the long term effects of the laser can help with pigmentation and collagen production. 
                The IPL works with the brown and red tones of the skin to even out the skin tone as well as stimulate the natural collagen that lies down in the dermis.  The combination of laser and IPL clears tones and conditions the skin.  The pores are also minimized so they appear less visible.</p>

                <h2 class="question" id="question03"><a href="#">How much does it cost?</a></h2>
                <p class="show-class answer03">The overall cost of the treatment is affordable (under $50 with a membership).  We have customized a variety of packages and memberships to make Skin Laundry as affordable and convenient as possible. <a href="#">Learn more here</a>.</p>

                <h2 class="question" id="question04"><a href="#">Who performs the treatment?</a></h2>
                <p class="show-class answer04">Our treatments are performed by experienced, certified healthcare professionals highly trained on proven Skin Laundry protocols and overseen by a team of medical advisors.</p>

                <h2 class="question" id="question05"><a href="#">What areas can be treated?</a></h2>
                <p class="show-class answer05">The Skin Laundry Signature Laser &#38; Light treatment focuses on the facial region.</p>

                <h2 class="question" id="question06"><a href="#">What are the immediate and long-term results?</a></h2>
                <p class="show-class answer06">IMMEDIATE BENEFITS:
                    <ul class="show-class answer06">
                        <li>Vaporizes dirt and removes bacteria leaving skin clean, clear &#38; glowing</li>
                        <li>Improves dull complexion and unevenness</li>
                        <li>Tightens and brightens skin</li>
                        <li>Leaves skin softer, smoother, radiant and glowing</li>
                    </ul>
                </p>
                
                <p class="show-class answer06">LONG-TERM BENEFITS OF REGULAR TREATMENTS
                    <ul class="show-class answer06">
                        <li>Reduces the signs of sun damage skin &#38; early signs of aging</li>
                        <li>Noticeably reduces fine lines and wrinkles</li>
                        <li>Stimulates collagen and elastin production leaving skin smoother, more supple and firmer</li>
                        <li>Reduces overall redness</li>
                        <li>Clears acne and helps prevent future breakouts</li>
                        <li>Reduces the visible appearance of pores</li>
                        <li>Evens skin tone, texture</li>
                        <li>Reduces the visible amount of scarring on the skin from acne lesions and cysts</li>
                        <li>Reduces hyperpigmentation, unevenness, sunspots, age spots and melasma</li>
                        <li>Diminishes visible broken capillaries</li>
                    </ul>
                </p>

                <h2 class="question" id="question07"><a href="#">How soon will I see the results?</a></h2>
                <p class="show-class answer07">You will immediately notice cleaner and smoother skin after your first treatment. More frequent treatments lead to optimal results. Improvements will accelerate after each additional session.</p>

                <h2 class="question" id="question08"><a href="#">What I can expect during a visit to Skin Laundry?</a></h2>
                <p class="show-class answer08">After a thorough cleansing of the face, you will meet with a Physician Assistant for a brief skin consultation before entering the treatment room where protective eye goggles will be placed on you.</p>

                <p class="show-class answer08">Once the procedure begins,  one of our highly trained healthcare professionals will perform the laser treatment by using a hand piece, which delivers a pulse of laser over the facial area.  The laser is a tingling sensation that is noticeable but not painful.  The laser hits the dermis and deep cleans the skin by vaporizing all the impurities from the pores. The laser also targets pigmentation, stimulates collagen production which minimizes the appearance of pores and fine lines, and destroys bacteria.</p>

                <p class="show-class answer08">After the laser procedure, a layer of cooling gel is placed on the face to start the next part of the procedure - IPL (Intense Pulse Light). The IPL delivers high intensity pulses of broadband light which helps to reduce redness and even out skin tone.  The skin is then cleansed again to remove the gel and Skin Laundry’s toner and Essentially Daily Moisturizer with SPF 35 is applied is to finish the treatment.</p>

                <h2 class="question" id="question09"><a href="#">Is it painful?</a></h2>
                <p class="show-class answer09">The treatment feels like a mild tingling sensation on your skin but isn’t considered painful.</p>

                <h2 class="question" id="question10"><a href="#">Are multiple treatments recommended?</a></h2>
                <p class="show-class answer10">Yes.  We believe frequency is the key to great results.  Regular skin laundry treatments will visibly improve smoothness, evenness, tone, texture, radiance and clarity of your skin while also diminishing the appearance of pores, reducing the look of lines and wrinkles.</p>

                <h2 class="question" id="question11"><a href="#">Who should <strong>not</strong> undergo a Skin Laundry treatment?</a></h2>
                <p class="show-class answer11">All clients must present photo identification at check in. Clients must be at least 18 years of age and show a valid driver license or passport. There will be no exceptions to this policy. Each of the following is a contraindication for the Skin Laundry Signature Treatment. If none of these apply to you please proceed to the "Book Online" Tab above:
                    <ul class="show-class answer11">
                        <li>Currently pregnant</li>
                        <li>Botox/fillers within two days</li>
                        <li>ce peels (such as Chemical, Fraxel, C02 laser) within four weeks</li>
                        <li>Accutane within the last 6 months or cream form within the last 2 weeks</li>
                        <li>Use of any prescription creams within two weeks</li>
                        <li>History of skin cancer on the face or light induced seizures</li>
                    </ul>
                </p>
                
            </div>
            <div class="block05 hide-desktop">
                <h3 id="contact-us">OUR HIGHLY TRAINED STAFF AND HEALTH CARE PROFESSIONALS WILL BE HAPPY TO ANSWER ANY ADDITIONAL QUESTIONS YOU HAVE. PLEASE CALL 877-SKINTEAM NOW.</h3>
                <a href="#">CONTACT US</a>
            </div>
        </div>
    </div>

    <div id="bottombar">
        <a class="links" href="#">TRY US</a>
        <a class="links" href="#">FIND A LAUNDRY NEAR YOU</a>
        <a class="links" href="#">SHOP OUR CLEANSERS</a>
    </div>

</div>

<script>
    var lastQuestion = 0;
    window.onload = function(){
        var questionNum;
        var answerNum;
        $('.question').on('click', function(e) {
            e.preventDefault();
            questionNum = $(this).attr('id').slice(-2);
            answerNum = '.answer'+questionNum;
            if(lastQuestion != questionNum)
            {
                $('.show-class').slideUp();
                $(answerNum).slideDown();
                lastQuestion = questionNum;
            }
        })
    };
</script>
