<div id="main">
	<div class="block left">

	</div>
	<div class="block right">

	</div>
	<div class="block left">

	</div>
	<div class="block right">

	</div>
	<div class="block left">

	</div>
	<div class="block right">

	</div>
	<div class="block left">

	</div>
	<div class="block right">

	</div>
	<div class="block left">

	</div>
	<div class="block right">

	</div>
</div>
