<div id="main">
	<div class="head">
		<h1>First Time?</h1>
	<h2>What to expect</h2>
	</div>
	<div class="row short">
		<div class="block01"></div>
		<div class="block02">
			<p>Our paperless registration process is quick and easy. It will take about 3 minutes and once we check a valid ID - Don’t forget to bring it! Our Staff will give you a cleansing towel which you can use at our vanity mirror to wipe off any make-up. Please fee free to have a drink of water while you wait.</p>
		</div>
	</div>
	<div class="row regular">
		<div class="block04 hide-d"></div>
		<div class="block03">
			<p>Our highly trained healthcare professionals will perform the laser treatment by using a hand piece, which delivers a pulse of laser over the facial area. It feels like a tingling sensation that is noticeable but not painful. The laser hits the dermis and deep cleans by vaporizing impurities in the skin. The laser also targets pigmentation, stimulates collagen production and destroys bacteria.</p>
		</div>
		<div class="block04 hide-m"></div>
	</div>
	<div class="row regular">
		<div class="block05 whitetext">
			OUR HIGHLY TRAINED STAFF AND HEALTH CARE PROFESSIONALS WILL BE HAPPY TO ANSWER ANY ADDITIONAL QUESTIONS YOU HAVE.  PLEASE CALL 877-SKINTEAM NOW.
			<button class="contactus" href="/contact-us.html">CONTACT US</button>
		</div>
		<div class="block06">
			<p>Next a layer of cooling gel is placed on the skin for the ipl (intense pulse light) treatment. The ipl delivers high intensity pulses of broadband light which helps to reduce redness and even out skin tone. The skin is then cleansed again to remove the gel and <a href="http://shop.skinlaundry.com/products/sl-toner">SKIN LAUNDRY'S TONER</a> and <a href="http://shop.skinlaundry.com/products/essential-daily-moisturizer">DAILY MOISTURIZER WITH SPF 35</a> is applied is to finish the treatment.</p>
		</div>
	</div>
</div>

<div id="bottombar">
	<a class="links" ng-href = "{{base.default_zone.length ? '/' + base.default_zone + '/treatments.html' : '/shop-treatments-default.html'}}">TRY US ON</a>
	<a class="links" ng-href = "{{base.default_location_key.length ? '/locations/' + base.default_location_key + '.html' : '/locations.html'}}">FIND A LAUNDRY NEAR YOU</a>
	<a class="links" href="/products.html">SHOP OUR CLEANSERS</a>
</div>

