<div id="main">
  <div class="slider">
    <div class="slide-control">
      <div class="slide-left">&#60;</div>
      <div class="circle current"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="slide-right">&#62;</div>
    </div>
    <div id="slide-01" class="slide">
      <p class="founder"><span>Yen Reis</span> Founder</p>

      <div class="overlay-text">
        <h1>See your best self.</h1>
        <p>Our signature treatment is designed to deep clean skin every time and dramatically improve skin over time.</p>
        <a class="text-box" href="/the-treatment.html">Learn More</a>
      </div>
    </div>

    <a href="/locations.html">
      <div id="slide-02" class="slide">
        <div class="overlay-text">New york coming soon</div>
      </div>
    </a>

    
    
    <div id="slide-03" class="slide">
      <div class="overlay-text">
        <h1>Discover new everyday essentials.</h1>
        <a class="text-box" href="/products.html">Shop Now</a>
      </div>
    </div>
  </div>
  <div id="box-set">
    <a ng-href = "{{base.default_zone.length ? '/' + base.default_zone + '/treatments.html' : '/shop-treatments-default.html'}}" ng-show = "base.default_zone.length">
    <div id="box-01" class="box">
      <div class="top-section">
        <div class="front-layer">
          <div class="overlay-text">
            <h1>Buy</h1>
            <h2 ng-bind = "base.default_treatment.title"></h2>
            <h3>A $225 Value</h3>
          </div>
        </div>
        <div class="back-layer"></div>
      </div>
      <div class="bottom-section">Try Us On</div>
    </div>
    </a>
    <a href = "http://shop.skinlaundry.com/products/renewing-eye-cream" ng-show = "!base.default_zone.length">
    <div id="box-01" class="box">
      <div class="top-section">
        <div class="front-layer" style="background-color:transparent">
          <div class="overlay-text">
          </div>
        </div>
        <div class="back-layer" style="background-image:url(/images/cream-eye-home.jpg);opacity:1"></div>
      </div>
      <div class="bottom-section">Buy now</div>
    </div>
    </a>
    <a ng-href = "{{base.default_location_key.length ? '/locations/' + base.default_location_key + '.html' : '/locations.html'}}">
    <div id="box-02" class="box">
      <div class="top-section">
        <div class="overlay-text">Visit your local laundry</div>
      </div>
      <div class="bottom-section">Find a Laundry Near You</div>
    </div>
    </a>
    <div id="box-03" class="box">
      <div class="top-section">
        <div class="overlay-text">uncover the</div>
        <div class="overlay-text">real you</div>
      </div>
      <div class="bottom-section"><a href="/products.html">Shop Our Cleansers</a></div>
    </div>
    <div id="box-04" class="box">
      <div class="overlay-text">
        <%= image_tag "index/allure.png" %>
        <p>Lasers are more effective than ever - for nearly every issue under the sun.</p>
        <div id="stars">
          <p>Joan Kron, Allure Magazine</p>
          <p>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>