<div id="main">
  <div id="slider">
    <div id="slide-control">
      <div id="slide-left">&#60;</div>
      <div class="circle current"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div id="slide-right">&#62;</div>
    </div>
    <div id="slide-01" class="slide">
      <div class="overlay-text">
        <h1>See your best self.</h1>
        <p>Our signature treatment is designed to deep clean skin every time and dramatically improve skin over time.</p>
        <a class="text-box" href="#">Learn More</a>
      </div>
    </div>
    <div id="slide-02" class="slide"></div>
    <div id="slide-03" class="slide">
      <div class="overlay-text">
        <h1>Discover new everyday essentials.</h1>
        <a class="text-box" href="#">Shop Now</a>
      </div>
    </div>
  </div>
  <div id="box-set">
    <div id="box-01" class="box">
      <div class="top-section">
        <div class="overlay-text">
          <h1>3 Treatments for $100</h1>
          <h2>A $225 Value</h2>
        </div>
      </div>
      <div class="bottom-section">Try Us On</div>
    </div>
    <div id="box-02" class="box">
      <div class="top-section">
        <div class="overlay-text">Visit your local laundry</div>
      </div>
      <div class="bottom-section">Find a Laundry Near You</div>
    </div>
    <div id="box-03" class="box">
      <div class="top-section"></div>
      <div class="bottom-section">Shop Our Cleansers</div>
    </div>
    <div id="box-04" class="box">
      <div class="overlay-text">
        <h1>Allure</h1>
        <p>Lasers are more effective than ever - for nearly every issue under the sun.</p>
        <div id="stars">
          <p>Joan Kron, Allure Magazine</p>
          <p>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>