<div id="main">
  <div id="slider">
    <div id="slide-control">
      <div id="slide-left"></div>
      <div id="slide-position-01" class="slide-position"></div>
      <div id="slide-position-01" class="slide-position"></div>
      <div id="slide-position-01" class="slide-position"></div>
      <div id="slide-right"></div>
    </div>
    <div id="slide-01" class="slide"></div>
    <div id="slide-02" class="slide"></div>
    <div id="slide-03" class="slide"></div>
  </div>
  <div id="box-set">
    <div id="box-01" class="box">
      <div class="top"></div>
      <div class="bottom"></div>
    </div>
    <div id="box-02" class="box">
      <div class="top"></div>
      <div class="bottom"></div>
    </div>
    <div id="box-03" class="box">
      <div class="top"></div>
      <div class="bottom"></div>
    </div>
    <div id="box-04" class="box"></div>
  </div>
</div>