<div id="main">
  <div id="top-box">
    <div class="tag">Laundry Stories &rArr; Yen </div>
    <div class="left-col"></div>
    <div class="right-col">
      <div class="head">Laundry Stories</div>
      <div class="yen-block background-gradient">
        <div class="yen">Yen</div>
        <div class="founder">
          <p>Founder</p>
          <p>500 + Treatments / 6 Years</p>
        </div>
      </div>
      <div class="bio">
        "I struggled with problematic skin conditions as a teen and young adult, and spent years searching for a treatment that would corrent my skin issues.  While living in Asia, I discovered light and laser skin therapy treatments which changed my skin and how I felt about it. I was hooked, and wanted to share my discovery with the world. Which is how Skin Laundry was born."
      </div>
    </div>
  </div>  
  <div id="box-04" class="box">
    <div class="overlay-text">
      <%= image_tag "index/allure.png" %>
      <p>Lasers are more effective than ever - for nearly every issue under the sun.</p>
      <div id="stars">
        <p>Joan Kron, Allure Magazine</p>
        <p>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </p>
      </div>
    </div>
  </div>
</div>