<div id="main">
	<div class="head">
		<h1>Locations</h1>
	</div>
	<div class="featured-image">
		<img src="/images/laundry-locations.jpg" alt="Locations" class="img-responsive">
	</div>

	<h2 class="location-state">California</h2>

	<div class="row clearfix">
		<div class="col-one-third">
			<h3 class="location-title"><a href="javascript: void(0);">SANTA MONICA</a></h3>
			<p class="phone-no"><a href="javascript: void(0);">310-319-9400</a></p>
			<p class="address-hours"><a href="javascript: void(0);">Address &amp; Hours</a></p>
			
			<h3 class="location-title"><a href="javascript: void(0);">GLENDALE</a></h3>
			<p class="phone-no"><a href="javascript: void(0);">818-649-5311</a></p>
			<p class="address-hours"><a href="javascript: void(0);">Address &amp; Hours</a></p>
			
		</div>
		
		<div class="col-one-third">
			<h3 class="location-title"><a href="javascript: void(0);">NEWPORT BEACH</a></h3>
			<p class="phone-no"><a href="javascript: void(0);">949-706-7203</a></p>
			<p class="address-hours"><a href="javascript: void(0);">Address &amp; Hours</a></p>
		</div>

		<div class="col-one-third">
			<h3 class="location-title"><a href="javascript: void(0);">WEST HOLLYWOOD</a></h3>
			<p class="phone-no"><a href="javascript: void(0);">310-360-0791</a></p>
			<p class="address-hours"><a href="javascript: void(0);">Address &amp; Hours</a></p>			
		</div>
	</div>

	<div class="row location clearfix">
		<h2 class="location-state">New York</h2>

		<div class="row">
			<h3 class="location-title"><a href="javascript: void(0);">FLATIRON, NY</a></h3>
			<p class="address-hours"><a href="javascript: void(0);">coming soon</a></p>
		</div>
	</div>

	<h2 class="location-state">Arizona</h2>

	<div class="row">
		<h3 class="location-title"><a href="javascript: void(0);">SCOTTSDALE</a></h3>
		
		<p class="phone-no"><a href="javascript: void(0);">480-300-7217</a></p>
		<p class="address-hours"><a href="javascript: void(0);">Address &amp; Hours</a></p>
	</div>
</div>

