<div id="main">
	<div class="head">
		<h1>Locations</h1>
	</div>
	<div class="featured-image">
		<img src="images/laundry-locations.jpg" alt="Locations" class="img-responsive">
	</div>

	<h2 class="location-state">California</h2>

	<div class="row clearfix">
		<div class="col-3">
			<h3 class="location-title">SANTA MONICA</h3>
			<p class="phone-no">310-319-9400</p>
			<p class="address-hours">Adress &amp; Hours</p>

			<h3 class="location-title">ROSEMEAD</h3>
			<p class="phone-no">626-416-4585</p>
			<p class="address-hours">Adress &amp; Hours</p>

		</div>
		<div class="col-3">
			<h3 class="location-title">NEWPORT BEACH</h3>
			<p class="phone-no">949-706-7203</p>
			<p class="address-hours">Adress &amp; Hours</p>

			<h3 class="location-title">GLENDALE</h3>
			<p class="phone-no">818-649-5311</p>
			<p class="address-hours">Adress &amp; Hours</p>


		</div>

		<div class="col-3">
			<h3 class="location-title">WEST HOLLYWOOD</h3>
			<p class="phone-no">310-360-0791</p>
			<p class="address-hours">Adress &amp; Hours</p>			

		</div>
	</div>

	
	<div class="row location clearfix">
		<h2 class="location-state">New York</h2>

		<div class="row">
			<h3 class="location-title">FLATIRON, NY</h3>
			<p class="address-hours">coming soon</p>
		</div>
	</div>

	

	<h2 class="location-state">Arizona</h2>

	<div class="row">
		<h3 class="location-title">SCOTTSDALE</h3>
		
		<p class="phone-no">480-300-7217</p>
		<p class="address-hours">Adress &amp; Hours</p>
	</div>



</div>

