<div id="main">

	<div id="location-offer" class="location-offer">
		<h1 class="buy">Buy</h1>
		<h2 class="treatments">3 Treatments<br>For <span>$100</span></h2>
		<h3 class="price">A $225 Value</h3>
	</div>

	<div class="offer-form-container text-center clearfix">
		<p class="description">CALL TODAY AT <span>877-SKIN-TEAM</span>, OR</p>
		<p class="description">SIGN UP BELOW TODAY TO RESERVE THIS OFFER</p>

		<form class="order-form">
			<div class="form-row clearfix">
				<input type="text" name="first-name" class="border-gradient" placeholder="FIRST NAME">
				<input type="text" name="last-name" class="border-gradient" placeholder="LAST NAME">
			</div>

			<div class="form-row clearfix">
				<input type="email" name="email" class="border-gradient" placeholder="EMAIL">
				<input type="tel" name="phone-number" class="border-gradient" placeholder="PHONE NUMBER">
			</div>

			<div class="form-row clearfix">
				<label for="store-location" class="text-center">SELECT A LOCATION</label>
				<select name="store-location" class="store-location border-gradient">
					<option value="santaMonica">Santa Monica</option>
					<option value="newportBeach">Newport Beach</option>
					<option value="westHollywood">West Hollywood</option>
					<option value="rosemad">Rosemad</option>
					<option value="glendale">Glendale</option>
					<option value="flatiron">Flatiron</option>
					<option value="scotssdale">Scotssdale</option>
				</select> 
			</div>

			<div class="form-row clearfix">
  				<button class="join-btn border-gradient" name="join" type="submit">JOIN</button>
			</div>
  		</form>
	</div>
</div>

