<div id="main" ng-init = "base.loadTreatments('<%= zone %>', true)">
	<div class="head">
		<h1>Treatments</h1>
	</div>

	<div class="featured-image">
	</div>


	<div class="row treatments text-center clearfix">
		<div ng-repeat = "offer in base.treatments['Introductory Offers']">
			<h2 class="offer-title">Introductory Offer</h2>
			<p class="treatments-price" ng-bind = "offer.title">3 TREATMENTS FOR $100</p>
			<p class="additional" ng-bind = "offer.additional_note">(additional $30)</p>
	  		<a href="tel:877-754-6832" class="buy-now-btn border-gradient">877-SKIN-TEAM</a>
  		</div>
	</div>

	<div class="row treatments text-center clearfix">
		<h2 class="offer-title">Monthly Membership</h2>

		<div class="col-one-fourth" ng-repeat = "offer in base.treatments['Monthly Membership']">
			<h3 class="treatment-plan" ng-bind = "offer.title">Basic</h3>
			<p class="treatment-price" ng-bind = "offer.sub_header">1 FOR $50</p>
			<p class="additional" ng-class = "{'' : 'hidden', undefined : 'hidden'}[offer.additional_note]" ng-bind = "(offer.additional_note ? offer.additional_note : '()')">(additional $50)</p>
			<a class="buy-now-btn" href="tel:877-754-6832">877-SKIN-TEAM</a>
		</div>
	</div>

	<div class="row text-center clearfix">
		<h2 class="offer-title">Treatment Packages</h2>

		<div class="col-one-third" ng-repeat = "offer in base.treatments['Treatment Packages']">
			<h3 class="treatment-plan" ng-bind = "offer.title">SINGLE TREATMENT</h3>
			<p class="treatment-price" ng-bind = "offer.sub_header">1 FOR $50</p>
			<p class="additional" ng-class = "{'' : 'hidden', undefined : 'hidden'}[offer.additional_note]" ng-bind = "(offer.additional_note ? offer.additional_note : '()')"></p>
			<a class="buy-now-btn" href="tel:877-754-6832">877-SKIN-TEAM</a>
		</div>

		<!-- <div class="col-one-third">
			<h3 class="treatment-plan">3 TREATMENTS</h3>
			<p class="treatment-price">2 FOR $165</p>
			<p class="expiry">(3 month expiry)</p>
			<a class="buy-now-btn" href="tel:877-754-6832">877-SKIN-TEAM</a>
		</div>

		<div class="col-one-third">
			<h3 class="treatment-plan">10 TREATMENTS</h3>
			<p class="treatment-price">10 FOR $400</p>
			<p class="expiry">(3 month expiry)</p>
			<a class="buy-now-btn" href="tel:877-754-6832">877-SKIN-TEAM</a>
		</div> -->
	</div>

	
	<!-- <div class="row gift-card text-center clearfix">
		<h2 class="title">Skin Laundry Gift Card</h2>

		<img src="/images/sl-gift-card.jpg" alt="Skin Laundry Gift Card" class="img-responsive">
		
	</div> -->


</div>
<script>
	document.getElementsByTagName("body")[0].className += " shop-treatments";
</script>
