<div id="main">
	<div class="row">
		<img src="images/treatments-default.jpg" alt="Choose Your Location" class="img-responsive">
	</div>


	<div class="row treatments text-center clearfix">
		<h3 class="title text-center">SELECT YOUR LOCATION</h3>

		<div class="col-one-third">
			<button class="location-btn border-gradient" href="javascript: void(0);">California</button>
		</div>

		<div class="col-one-third">
			<button class="location-btn border-gradient" href="javascript: void(0);">New York</button>
		</div>

		<div class="col-one-third">
			<button class="location-btn border-gradient" href="javascript: void(0);">Arizona</button>
		</div>
	</div>
</div>

