<div id="main">
	<div class="head">
		<h1 class="title">Cleansing Essentials</h1>
		<h3 class="subtitle">FOR THE CLEAN SKIN REVOLUTION</h3>
	</div>

	<div class="row treatments text-center clearfix">
		<div class="col-one-fourth">
			<img src="images/product-1.jpg" alt="">
			<h3 class="product-title">NOURISHING CLEANSING OIL</h3>
			<p class="product-price">$21.95</p>
		</div>

		<div class="col-one-fourth">
			<img src="images/product-1.jpg" alt="">
			<h3 class="product-title">SKIN PURIFYING CREAM CLEANSER</h3>
			<p class="product-price">$21.95</p>
		</div>

		<div class="col-one-fourth">
			<img src="images/product-1.jpg" alt="">
			<h3 class="product-title">EXTRA DEEP CLEANSER FOR NORMAL TO OILY SKIN</h3>
			<p class="product-price">$21.95</p>
		</div>

		<div class="col-one-fourth">
			<img src="images/product-1.jpg" alt="">
			<h3 class="product-title">GENTLE FOAMING WASH</h3>
			<p class="product-price">$21.95</p>
		</div>
	</div>

	<div class="gap"></div>

	<div class="row treatments text-center clearfix">
		<h3 class="subtitle">WHO NEEDS MAKEUP WHEN YOU HAVE SKIN LAUNDRY</h3>
		<h1 class="title">Everyday Essentials</h1>

		<div class="col-one-third">
			<img src="images/product-1.jpg" alt="">
		
			<h3 class="product-title">HYDRATING RADIANCE FACIAL TREATMENT MASK - 5 PACK</h3>
			<p class="product-price">$48.00</p>
		</div>

		<div class="col-one-third">
			<img src="images/product-1.jpg" alt="">
		
			<h3 class="product-title">RESTORING NIGHT SERUM</h3>
			<p class="product-price">$48.00</p>
		</div>

		<div class="col-one-third">
			<img src="images/product-1.jpg" alt="">
		
			<h3 class="product-title">DEEP CLEANSE FOAMING FACE WASH</h3>
			<p class="product-price">$48.00</p>
		</div>
	</div>

	<div class="row treatments text-center clearfix">
		<div class="col-one-third">
			<img src="images/product-1.jpg" alt="">
		
			<h3 class="product-title">SL TONER</h3>
			<p class="product-price">$19.95</p>
		</div>

		<div class="col-one-third">
			<img src="images/product-1.jpg" alt="">
		
			<h3 class="product-title">ADVANCED PROTECTION WITH SPF 35</h3>
			<p class="product-price">$14.95</p>
		</div>

		<div class="col-one-third">
			<img src="images/product-1.jpg" alt="">
		
			<h3 class="product-title">NIGHT RENEW TREATMENT</h3>
			<p class="product-price">$29.95</p>
		</div>
	</div>


</div>

