<div id="main">
	<div class="head">
		<h1>Treatments</h1>
	</div>

	<div class="featured-image">
	</div>


	<div class="row treatments text-center clearfix">
		<h2 class="offer-title">Introductory Offer</h2>
		<p class="treatments-price">3 TREATMENTS FOR $100</p>
		<p class="additional">(additional $30)</p>
  		<button href="javascript: void(0);" class="buy-now-btn border-gradient">Buy Now</button>
	</div>

	<div class="row treatments text-center clearfix">
		<h2 class="offer-title">Monthly Membership</h2>

		<div class="col-one-fourth">
			<h3 class="treatment-plan">Basic</h3>
			<p class="treatment-price">1 FOR $50</p>
			<p class="additional">(additional $50)</p>
			<button class="buy-now-btn" href="javascript: void(0);">Buy Now</button>
		</div>

		<div class="col-one-fourth">
			<h3 class="treatment-plan">Silver</h3>
			<p class="treatment-price">4 FOR $160</p>
			<p class="additional">(additional $35)</p>
			<button class="buy-now-btn" href="javascript: void(0);">Buy Now</button>
		</div>

		<div class="col-one-fourth">
			<h3 class="treatment-plan">Gold</h3>
			<p class="treatment-price">8 FOR $250</p>
			<p class="additional">(additional $30)</p>
			<button class="buy-now-btn" href="javascript: void(0);">Buy Now</button>
		</div>

		<div class="col-one-fourth">
			<h3 class="treatment-plan">Platinum</h3>
			<p class="treatment-price">15 FOR $325</p>
			<button class="buy-now-btn" href="javascript: void(0);">Buy Now</button>
		</div>
	</div>

	<div class="row treatments text-center clearfix">
		<h2 class="offer-title">Treatment Packages</h2>

		<div class="col-one-third">
			<h3 class="treatment-plan">SINGLE TREATMENT</h3>
			<p class="treatment-price">1 FOR $50</p>
			<button class="buy-now-btn" href="javascript: void(0);">Buy Now</button>
		</div>

		<div class="col-one-third">
			<h3 class="treatment-plan">3 TREATMENTS</h3>
			<p class="treatment-price">2 FOR $165</p>
			<p class="expiry">(3 month expiry)</p>
			<button class="buy-now-btn" href="javascript: void(0);">Buy Now</button>
		</div>

		<div class="col-one-third">
			<h3 class="treatment-plan">10 TREATMENTS</h3>
			<p class="treatment-price">10 FOR $400</p>
			<p class="expiry">(3 month expiry)</p>
			<button class="buy-now-btn" href="javascript: void(0);">Buy Now</button>
		</div>
	</div>

	
	<div class="row gift-card text-center clearfix">
		<h2 class="title">Skin Laundry Gift Card</h2>

		<img src="images/sl-gift-card.jpg" alt="Skin Laundry Gift Card" class="img-responsive">
		
	</div>


</div>

