<div id="main">
	<div class="head">
		<h1>Terms of Use</h1>
	</div>

	<div class="row clearfix">
		<div class="col-one-third">
			<h3 class="title">Overview</h3>
			<p>This website is operated by Skin Laundry Holdings LLC or its affiliated companies (“Skin Laundry”). Throughout the site, the terms “we”, “us” and “our” refer to Skin Laundry. Skin Laundry offers this website, including all information, tools and services available from this site to you, the user, conditioned upon your acceptance of all terms, conditions, policies and notices stated here.</p>

			<p>By visiting our site and/ or purchasing something from us, you engage in our “Service” and agree to be bound by the following terms and conditions (“Terms of Service”, “Terms”), as the same may be amended from time to time, including those additional terms and conditions and policies referenced herein and/or available by hyperlink.</p>

			<h3 class="title">SECTION 1 - ACCEPTANCE OF TERMS AND CONDITIONS</h3>
			<p>Use of this website is conditioned upon your acceptance of the terms and conditions contained herein, as the same may be amended from time to time. All users of this website hereby understand and agree that their use of such website constitutes acceptance of the terms and conditions set forth in this legal notice. Skin Laundry reserves the right to modify the terms and conditions at any time without prior notice. If you do not agree to these terms, you may not use this website.</p>

			<p>By agreeing to these Terms of Service, you represent that you are at least the age of majority in your state or province of residence, or that you are the age of majority in your state or province of residence and you have given us your consent to allow any minors in your care to use this site.</p>

			<h3 class="title">SECTION 2 - TERMS OF PURCHASE</h3>
			<p>Certain products or services may be available exclusively online through the website. All products or services may have limited quantities and are subject to return or exchange only according to our Refund/Returns Policy.</p>

			<p>We reserve the right, but are not obligated, to limit the sales of our products or services to any person, geographic region or jurisdiction. We reserve the right to refuse any order placed with us and,
			in our sole discretion, limit or cancel quantities purchased per person, per household or per order. We may exercise these rights on a case-by-case basis.</p>

			<p>Occasionally there may be information on our site or in the Service that contains typographical errors, inaccuracies or omissions that may relate to product descriptions, pricing, promotions, offers, product shipping charges, transit times and availability. We reserve the right to correct any errors, inaccuracies or omissions, and to change or update information or cancel orders if any information in the Service or on any related website is inaccurate at any time without prior notice (including after you have submitted your order).</p>

			<h3 class="title">SECTION 3 - PROHIBITED USE</h3>
			<p>Any use of this website for an illegal or objectionable purpose is strictly prohibited. You agree that you will not use this website to engage in any activity that could be deemed illegal, harmful to others, or give rise to civil liability. Such activities include, but are not limited to: (i) activities involving the transmission of unlawful, threatening, harassing, obscene, sexually explicit, pornographic, hateful, profane, libelous, or defamatory information; (ii) activities involving the transmission of junk mail or spamming; (iii) activities involving the promotion or use of viruses; (iv) activities that violate any law,</p>

		</div>

		<div class="col-one-third">
		
			<p>regulation or statute; and/or (v) activities that infringe upon any legally protected property right, etc. By using this site, you agree that any and all information transmitted to or with the use of this site cannot and shall not be deemed confidential or proprietary. We reserve the right to monitor transmissions and investigate any alleged prohibited use of this website and to disclose any and all information relating to such prohibited use. Skin Laundry its officers, directors, affiliates, employees, agents, partners, subsidiaries, and/or contractors shall not assume, and expressly disclaim, any and all liability relating to an individual’s illegal or prohibited use of this website. Any violation of this or any other section contained herein may result in termination of service and or any other action we determine to be appropriate under the circumstances.</p>

			<h3 class="title">SECTION 4 - MODIFICATIONS</h3>
			<p>This website may contain typographical errors or technical inaccuracies. Skin Laundy reserves the right to modify the content of this website at any time without prior notice, including prices for our products (including corrections to erroneous pricing discovered after an order is placed). We reserve the right at any time to modify or discontinue the Service (or any part or content thereof) without notice at any time.</p>

			<p>Skin Laundry’s failure to enforce any section of these terms and conditions shall not be construed as a waiver of such provision.</p>

			<h3 class="title">SECTION 5 - TRADEMARKS</h3>
			<p>This website contains trademarks, trade names, service marks, copyrights, and/or logos belonging to Skin Laundry. Such marks remain the property of Skin Laundry. You recognize and acknowledge the ownership of these marks and understand that you do not acquire, through use of this website, any right, title, or interest in the marks. You agree not to change, modify, and/or exploit the marks, nor participate in any activity which modifies and/ or exploits such marks. All rights to these marks are reserved. Any use of the marks without expressed written authorization is strictly prohibited.</p>

			
			<h3 class="title">SECTION 6 - THIRD-PARTY RELATIONSHIPS</h3>

			<p>This website may contain links to other sites. These links are provided merely to assist the user. These sites are independent of Skin Laundry’s site, and we do not and cannot control the content and/or representations of such sites. The information presented via these links may not necessarily reflect beliefs held by Skin Laundry. The inclusion of a link does not mean that we accept or endorse any of the content contained in such site. The user is responsible to protect himself/herself while associating with the linked site. Skin Laundry, and its officers, directors, affiliates, employees, agents, partners, subsidiaries and/or contractors disclaim any and all responsibility or liability for content contained on such linked sites and will not be held accountable for any damages, of any kind, incurred by those who visit such sites.</p>
			
			<h3 class="title">SECTION 7 - SEVERABILITY</h3>
			<p>If one or more of the provisions contained in these terms and conditions are held to be unenforceable under applicable law, such provision shall be appropriately limited in its scope. If any such limitation is not feasible, such provision shall be excluded from these terms and conditions and the balance of these terms and conditions shall be enforceable.</p>

			<h3 class="title">SECTION 8 - WARRANTIES & LIMITATION OF LIABILITY</h3>
			<p>SKIN LAUNDRY DISCLAIMS ALL WARRANTIES, EXPRESSED OR IMPLIED,</p>
		</div>

		<div class="col-one-third">
			<p>INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. IN NO EVENT SHALL SKIN LAUNDRY BE LIABLE FOR ANY SPECIAL, INDIRECT, INCIDENTAL, PUNITIVE, CONSEQUENTIAL, OR EXEMPLARY DAMAGES RELATING TO OR ARISING FROM THIS WEBSITE WHETHER OR NOT EITHER PARTY HAD OR SHOULD HAVE HAD ANY KNOWLEDGE, ACTUAL OR CONSTRUCTIVE, THAT SUCH DAMAGES MIGHT BE INCURRED.</p>

			<p>We do not guarantee, represent or warrant that your use of our service will be uninterrupted, timely, secure or error-free. We do not warrant that the results that may be obtained from the use of the service will be accurate or reliable. You agree that from time-to-time we may remove the service for indefinite periods of time or cancel the service at any time, without notice to you.</p>

			<h3 class="title">SECTION 9 - FORCE MAJEURE</h3>
			<p>Notwithstanding any other provision set forth in these terms and conditions, Skin Laundry shall not be liable for any failure or delay in its performance due to any cause beyond our reasonable control, including, without limitation, any act of war or civil insurrection, national emergencies, acts of God, fire, explosion, vandalism, storm, earthquake, flood, embargo, riot, sabotage, industry-wide strikes, lockouts, work stoppages or other labor difficulties, industry-wide supplier failures, unavailability of materials, rights of way or governmental acts; provided, however, that Skin Laundry shall attempt to correct promptly such failure or delay in performance to the extent practicable and consistent with then applicable law and regulatory requirements.</p>

			<h3 class="title">SECTION 10 - INDEMNIFICATION</h3>
			<p>You hereby agree to indemnify, defend, and hold harmless, Skin Laundry, its officers, directors, affiliates, employees, contractors, subcontractors, agents, partners, and subsidiaries from and against all claims, actions, suits, demands, costs, and damages (including reasonable attorney’s fees) asserted by any third party as a result of your use of this website. Skin Laundry has the right to control any defense pertaining to this section.</p>

			<h3 class="title">SECTION 11 - RELATIONSHIP</h3>
			<p>Nothing in this Agreement is intended to or shall be construed to constitute or establish an agency, joint venture, partnership, or fiduciary relationship between the parties, and neither party shall have the right or authority to act for or on behalf of the other party.</p>

			<h3 class="title">SECTION 12 - GOVERNING LAW</h3>
			<p>These terms and conditions shall be governed by, construed, and enforced in accordance with the laws of California, United States of America, without regard to any choice of law principles.</p>

			<h3 class="title">SECTION 13 - JURISDICTION</h3>
			<p>You hereby agree and irrevocably consent to submit to the exclusive jurisdiction and venue of the courts of California and of the United States of America located in California for any and all claims arising from the use of this website.</p>

			<h3 class="title">SECTION 14 - ENTIRE AGREEMENT</h3>
			<p>These terms and conditions constitute the full and entire understanding and agreement between the parties pertaining to the subject matter and supersede in their entirety any and all written or oral agreements previously existing between the parties with respect to the subject matter.</p>

		</div>
	</div>

</div>

