<div id="main">

    <div id="container">

        <div id="heading">
            <h1>The Treatment</h1>
        </div>
        
        <div class="left row1">
            <img src="images/treatment1.jpg" width="100%" />
        </div>
        
        <div class="right row1">
        	<p id="paragraph1">You’re all about simple routines and solutions 
        	that actually work. So are we. We’ve taken 
        	world-class laser and light therapy out of the 
        	doctor’s office and put it into our laundry 
        	skin clinics – where it’s fast, affordable and 
        	incredibly effective. Our revolutionary treatment 
        	administers the perfect dose of laser and light 
        	therapy to deep clean skin every time for better 
        	skin over time. The 10-minute treatment is so 
        	easy – skin looks refreshed from the moment 
        	you walk out the door. No makeup necessary.</p>
        </div>

        <div class="left row2">
        	<p id="paragraph2">Every Skin Laundry treatment leaves skin deep 
        	cleaned and toned. More frequent treatments 
        	result in more dramatic improvements in the 
        	areas of acne, redness, unevenness, dullness, 
        	hyper pigmentation, photo aging. Over time, 
        	Regular Skin Laundry Treatments will visibly 
            improve skin’s smoothness, evenness, tone, 
            texture, radiance, and clarity, while diminishing 
            the appearance of pores, reducing the look of lines, wrinkles, and restoring firmer skin.</p>
        </div>

        <div class="right row2">
            <img src="images/treatment2.jpg" width="100%"/>
        </div>
        <div class="left row3" id="booking">
        
            <h2>WHAT ARE YOU WAITING FOR?</h2>
            <p>BOOK A TREATMENT</p>
        
        </div>
        <div class="right row3" id="paragraph3">
        	<h2>Immediate Benefits</h2>
     		<ul>
    	        <li>Vaporizes dirt and removes bacteria</li>
    	        <li>Improves dull complexion and unevenness</li>
    	        <li>Tightens and brightens skin</li>
    	        <li>Leaves skin softer, smoother, radiant, &#38; glowing</li>
    	    </ul>
    	</div>

    	<div class="left row4" id="paragraph4">
    		<h2>Long-term Results</h2>
    		<ul>
    			<li>Corrects sun damage &#38; early signs of aging</li>
    			<li>Noticeably reduces fine lines and wrinkles</li>
    			<li>Reduces overall redness</li>
    			<li>Clears acne and helps prevent future breakouts</li>
    			<li>Reduces the visible appearance of pores</li>
    			<li>Evens skin tone, texture</li>
    			<li>Reduces the visible amount of scarring on the skin from acne lesions and cysts</li>
    			<li>Reduces hyper-pigmentation, unevenness, sunspots, age spots, and melisma</li>
    			<li>Diminishes visible broken capillaries</li>
    		</ul>
    	</div>
        <div class="left row4">
            <img src="images/treatment4.jpg" width="100%"/>
        </div>
    </div>
    <div class="bottom-links">
        <div id="link1"><p>TRY US ON</p></div>
        <div id="link2"><p>FIND A LAUNDRY NEAR YOU</p></div>
        <div id="link3"><p>SHOP OUR CLEANSERS</p></div>
    </div>

</div>