<div id="main">

    <div id="container">

        <div id="head">
            <h1>The Treatment</h1>
        </div>
        
              
        <div class="block left row1" id="treatment1"></div><div class="block right top padright row1">
        	<p>You’re all about simple routines and solutions that actually work. So are we. We’ve taken world-class laser and light therapy out of the doctor’s office and put it into our laundry skin clinics – where it’s fast, affordable and incredibly effective. Our revolutionary treatment administers the perfect dose of laser and light therapy to deep clean skin every time for better skin over time. The 10-minute treatment is so easy – skin looks refreshed from the moment you walk out the door. No makeup necessary.</p>
        </div>

        <div class="block left padleft padtop row2">
        	<p>Every Skin Laundry treatment leaves skin deep cleaned and toned. More frequent treatments result in more dramatic improvements in the areas of acne, redness, unevenness, dullness, hyper pigmentation, photo aging. Over time, Regular Skin Laundry Treatments will visibly improve skin’s smoothness, evenness, tone, texture, radiance, and clarity, while diminishing the appearance of pores, reducing the look of lines, wrinkles, and restoring firmer skin.</p>
        </div><div class="block right row2" id="treatment2"></div>

        <div class="block left row3" id="booking">
        
            <h2 id="waiting-for">WHAT ARE YOU WAITING FOR?</h2>
            <p>BOOK A TREATMENT</p>
        
        </div>
        <div class="block right padright padtop row3">
        	<h2>Immediate Benefits</h2>
     		<p>-Vaporizes dirt and removes bacteria</br>
	        -Improves dull complexion and unevenness</br>
	        -Tightens and brightens skin</br>
	        -Leaves skin softer, smoother, radiant, &#38; glowing</p>
    	</div>

    	<div class="block padleft padtop left row4" id="results">
    		<h2>Long-term Results</h2>
    		<p>-Corrects sun damage &#38; early signs of aging</br>
			-Noticeably reduces fine lines and wrinkles</br>
			-Reduces overall redness</br>
			-Clears acne and helps prevent future breakouts</br>
			-Reduces the visible appearance of pores</br>
			-Evens skin tone, texture</br>
			-Reduces the visible amount of scarring on the skin from acne lesions and cysts</br>
			-Reduces hyper-pigmentation, unevenness, sunspots, age spots, and melisma</br>
			-Diminishes visible broken capillaries</p>
    	</div><div class="block right row4" id="treatment4"></div>

    </div>

    <div id="bottombar">
        <a class="links" href="#">TRY US ON</a>
        <a class="links" href="#">FIND A LAUNDRY NEAR YOU</a>
        <a class="links" href="#">SHOP OUR CLEANSERS</a>
    </div>

</div>